In [34]:
n=5
k=2*n-2

for i in range(n,-1,-1):
    #print(i)#, end=" ")
    for j in range(k,0,-1):
        print(end=" ")
    k = k + 1
    for l in range(0, i+1):
        print(l,end=" ")
    print("\r")

        0 1 2 3 4 5
         0 1 2 3 4
          0 1 2 3
           0 1 2
            0 1
             0

In [55]:
n = 15
k=0
while(k<n+1):
    #print(n,k,n-k)
    print(" "*(n-k) +"* "*(k+1))
    k = k+1

               *
              * *
             * * *
            * * * *
           * * * * *
          * * * * * *
         * * * * * * *
        * * * * * * * *
       * * * * * * * * *
      * * * * * * * * * *
     * * * * * * * * * * *
    * * * * * * * * * * * *
   * * * * * * * * * * * * *
  * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *

In [56]:
s = "mario rivillas"

s.find("rio")

2

In [57]:
s.count("i")

3

In [58]:
s.replace("i","I")

'marIo rIvIllas'

In [59]:
s = "we all are a part of Full stack"
s.lower()

'we all are a part of full stack'

In [69]:
index_list = []
for i,ltr in enumerate(s):
    if ltr=="a":
        index_list.append(i)
index_list

[3, 7, 11, 14, 28]

In [73]:
index_list = [i for i in range(len(s)) if s[i]=="a"]
index_list

[3, 7, 11, 14, 28]

In [70]:
s.replace("a","ineuron")

'we ineuronll ineuronre ineuron pineuronrt of Full stineuronck'

In [71]:
s.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'stack']

# Tuples
* can be nested but is not mutable

In [2]:
t1=(1,2,5,6,3,5,1,9,5,7)
t1.count(5)

3

In [3]:
t1.index(5)

2

In [5]:
min(t1)

1

In [6]:
max(t1)

9

In [27]:
t2=(12,)
t2

(12,)

In [28]:
# can not insert but can add two tuples and create a third one
t1+t2

(1, 2, 5, 6, 3, 5, 1, 9, 5, 7, 12)

In [29]:
str(t2)

'(12,)'

In [31]:
# can insert if first use a list

l1 = list(t1)
l1.insert(5,int(t2[0]))
t1 = tuple(l1)
t1

(1, 2, 5, 6, 3, 12, 5, 1, 9, 5, 7)

# Set
* is not nested, it is a flatten collection
* does not allow a repeated number, it should be unique
* s1+s2 - operation not allowed
* s1*4 - operation not allowed

In [32]:
l1

[1, 2, 5, 6, 3, 12, 5, 1, 9, 5, 7]

In [33]:
s = set(l1)
s

{1, 2, 3, 5, 6, 7, 9, 12}

In [34]:
s.add(100)
s

{1, 2, 3, 5, 6, 7, 9, 12, 100}

# Dictionary
* keys and values
* keys are unique
* values can be string,tuples,lists,sets,nested,

In [35]:
dic1 = {"name":"mario","age":34,"family":"rivillas","name":"mario2","family":"ospina"}
dic1

{'name': 'mario2', 'age': 34, 'family': 'ospina'}

In [36]:
string1 = input("provide a paragraph:")

provide a paragraph: mario esta estudiando mucho cada dia mucho mario

In [39]:
list1 = string1.split()
list1

['mario', 'esta', 'estudiando', 'mucho', 'cada', 'dia', 'mucho', 'mario']

In [40]:
set1 = set(list1)
set1

{'cada', 'dia', 'esta', 'estudiando', 'mario', 'mucho'}

In [47]:
dict1={}
for i in set1:
    dict1[i]="mario"
dict1

{'cada': 'mario',
 'esta': 'mario',
 'dia': 'mario',
 'estudiando': 'mario',
 'mario': 'mario',
 'mucho': 'mario'}

In [53]:
# from dictionary to list of tuples
tuple_list=[]
for k,v in dict1.items():
    temp_tuple = (k,v)
    tuple_list.append(temp_tuple)
tuple_list

[('cada', 'mario'),
 ('esta', 'mario'),
 ('dia', 'mario'),
 ('estudiando', 'mario'),
 ('mario', 'mario'),
 ('mucho', 'mario')]

In [55]:
# from dict to list of tuples
tuple_list1 = [(k,v) for k,v in dict1.items()]
tuple_list1

[('cada', 'mario'),
 ('esta', 'mario'),
 ('dia', 'mario'),
 ('estudiando', 'mario'),
 ('mario', 'mario'),
 ('mucho', 'mario')]

In [56]:
# dictionary comprehension

{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}

# Functions

# *ARGS
* ability to pass serveral parameters
* returns tuples

In [92]:
def test(*args):   # ability to pass several arguments
    temp = []
    temp1 = []
    for i in args:
        if type(i) == list:   # if i want only to concatenate a list collection
            temp.append(i)
            temp1=i+temp1
    return temp, temp1

In [93]:
l1=[1,3,5,7]
l2=[2,4,6,8]
print(l1)
print(l2)

test(l1,l2)

[1, 3, 5, 7]
[2, 4, 6, 8]

([[1, 3, 5, 7], [2, 4, 6, 8]], [2, 4, 6, 8, 1, 3, 5, 7])

In [94]:
test(4,5,6,8,"mario",[3,5,8,"rivillas"])

([[3, 5, 8, 'rivillas']], [3, 5, 8, 'rivillas'])

In [95]:
def test1(*args):   # ability to pass several arguments
    return args

In [97]:
# returns tuples
test1(4,5,6,8,"mario",[3,5,8,"rivillas"])

(4, 5, 6, 8, 'mario', [3, 5, 8, 'rivillas'])

# **KWARGS
* ability to pass serveral parameters as key/value pairs
* returns dictionary

In [98]:

def test2(**kwargs):   # ability to pass several arguments as key/value pairs
    return kwargs

In [99]:
test2(a=4,b=56,c=56)

{'a': 4, 'b': 56, 'c': 56}

In [101]:
test2(A=5,B="MARIO",C=[1,2,5,"MARIO2"])

{'A': 5, 'B': 'MARIO', 'C': [1, 2, 5, 'MARIO2']}

In [116]:
def test2(*args):   # ability to pass several arguments
    temp_l = []
    temp_d = []
    temp_t = []
    temp_o = []
    for i in args:
        if type(i) == list:   
            temp_l.append(i)
        elif type(i) == dict:
             temp_d.append(i)
        elif type(i) == tuple:
            temp_t.append(i)
        else:
            temp_o.append(i)

    return temp_l, temp_d, temp_t, temp_o

In [117]:
test2(4,5,6,8,"mario",[3,5,8,"rivillas"],[4,6,9,"ospina"],(5,5),(6,6),(7,7),{"name1":"mario1", "family1":"riv1"},{"name2":"mario2", "family2":"riv2"})

([[3, 5, 8, 'rivillas'], [4, 6, 9, 'ospina']],
 [{'name1': 'mario1', 'family1': 'riv1'},
  {'name2': 'mario2', 'family2': 'riv2'}],
 [(5, 5), (6, 6), (7, 7)],
 [4, 5, 6, 8, 'mario'])

In [183]:
def test2(*args):   # ability to pass several arguments
    ltypes = set([type(i) for i in args])
    lists = {}
    for ltype in ltypes:
        lists[ltype] = []   
        for arg in args:
            if ltype == type(arg):
                lists[ltype].append(arg)
    return lists

In [184]:
test2(4,5,6,8,"mario",[3,5,8,"rivillas"],[4,6,9,"ospina"],(5,5),(6,6),(7,7),{"name1":"mario1", "family1":"riv1"},{"name2":"mario2", "family2":"riv2"})

{tuple: [(5, 5), (6, 6), (7, 7)],
 list: [[3, 5, 8, 'rivillas'], [4, 6, 9, 'ospina']],
 str: ['mario'],
 dict: [{'name1': 'mario1', 'family1': 'riv1'},
  {'name2': 'mario2', 'family2': 'riv2'}],
 int: [4, 5, 6, 8]}

In [121]:
def test3(*args,**kwargs):
    l_args = [i for i in args]
    l_kwargs = [i[1] for i in kwargs.items()]
    return l_args, l_kwargs

In [123]:
test3(4,5,6,8,"mario",[3,5,8,"rivillas"],[4,6,9,"ospina"],(5,5),(6,6),(7,7),{"name1":"mario1", "family1":"riv1"},{"name2":"mario2", "family2":"riv2"}
      , a = ["sol","luna","marte"], b="soy libre", c={"agua":"liquido", "oxigeno":"gas"})

([4,
  5,
  6,
  8,
  'mario',
  [3, 5, 8, 'rivillas'],
  [4, 6, 9, 'ospina'],
  (5, 5),
  (6, 6),
  (7, 7),
  {'name1': 'mario1', 'family1': 'riv1'},
  {'name2': 'mario2', 'family2': 'riv2'}],
 [['sol', 'luna', 'marte'],
  'soy libre',
  {'agua': 'liquido', 'oxigeno': 'gas'}])