In [2]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [3]:
test(100, 25, 124, 75, 115)

(100, 25, 124, 75, 115)

In [5]:
def test1(*args):
    return args

In [6]:
test1(5,6,7,8)

(5, 6, 7, 8)

In [7]:
test1(4,3,"mar" , 145.67)

(4, 3, 'mar', 145.67)

In [8]:
test1([1,2,4,3,4,2,1] , (4,7,76,78) , "abcd" , 3271+7j)

([1, 2, 4, 3, 4, 2, 1], (4, 7, 76, 78), 'abcd', (3271+7j))

In [9]:
def test2(*sudh):
    return sudh

In [10]:
test2("mario" ,2345,"1234321",345)

('mario', 2345, '1234321', 345)

In [13]:
def test3(*sudh , a):
    return sudh , a

In [15]:
test3(134,560,67 , a = 16)  # you need to provide the key in this case

((134, 560, 67), 16)

In [16]:
def test4(*mario , a,b,c,d):
    return mario , a,b,c,d

In [17]:
test4(3,5,6,7 , a = [4,5,6,7,8] , b = [35,65,56] , c= "abc" , d = 1345.656)

((3, 5, 6, 7), [4, 5, 6, 7, 8], [35, 65, 56], 'abc', 1345.656)

In [20]:
def test3( a , *sudh):  # in this case, the order matters, it will assign as "a" the first value assigned
    return sudh , a

In [21]:
test3("mario" , 354,54,4)

((354, 54, 4), 'mario')

In [22]:
def test3( a , *sudh):  # order matters
    return a,sudh

In [24]:
test3("mario" , 2354,54,56,a = "fsadf")  # a gets assigned the first element "mario" in this case
                                         # the calling a again creates the issue

TypeError: test3() got multiple values for argument 'a'

In [28]:
def test5(a , *mario , b ,c ):
    return a , mario,b,c

In [33]:
test5("mariox" , [1,2,3,4,5] , 56,67,b = 6,c = 7)  # assign elements based on the order provided
                                                   # static will always return a tuple

('mariox', ([1, 2, 3, 4, 5], 56, 67), 6, 7)

*   static will always return a tuple
*   double static always return a dictionary

In [34]:
def test6(*args):
    l = []
    for i in args:
        if type(i) == list:  # only if a list, gets appended and returned
            l.append(i)
    return l

In [35]:
test6(45,67,67,76,[23,54,5,4,565656],["mario","alejandro"])

[[23, 54, 5, 4, 565656], ['mario', 'alejandro']]

In [36]:
test6(546,675,67567,567, [3,434,56,54] ,  [234,6,678] , "sdfs")

[[3, 434, 56, 54], [234, 6, 678]]

In [37]:
d = { "a" : [2,3,4,5,6] , 6  : [4,54,4,5,5,6]  }

In [38]:
d["a"]

[2, 3, 4, 5, 6]

In [39]:
def test7(**kwargs):  # when using keysm, it outputs dictionaries
    return kwargs

In [46]:
test7(a = 345,b  = [45,5,54,6,6])  # data should be provided in a key/value format

{'a': 345, 'b': [45, 5, 54, 6, 6]}

In [43]:
def test8(**sudh) :  # the trick is the two "**" symbols
    return sudh

In [45]:
test8(b = 87 , g = 35, f = [3,4,5,6,7,8])

{'b': 87, 'g': 35, 'f': [3, 4, 5, 6, 7, 8]}

In [45]:
test8(4= "sdfa")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-45-d200d6436da0>, line 1)

In [46]:
def test9(**sudh) :
    return sudh

In [47]:
test9(name = "sudh"  , age  = "31" , phone_number = "4234" , mail_id = "sdfsdfd@dsdg.com")

{'name': 'sudh',
 'age': '31',
 'phone_number': '4234',
 'mail_id': 'sdfsdfd@dsdg.com'}

In [48]:
test9(name = "sudh"  , age  = "31" , phone_number = "4234" , mail_id = "sdfsdfd@dsdg.com" , adr = "fsasaffsa")

{'name': 'sudh',
 'age': '31',
 'phone_number': '4234',
 'mail_id': 'sdfsdfd@dsdg.com',
 'adr': 'fsasaffsa'}

In [4]:
def test10(a, **sudh):   # again, order matters, first element gets assigned 
    return sudh , a

In [5]:
test10(a = 1,t = 2,b = 3,c = 4,d = 5,e = 6)

({'t': 2, 'b': 3, 'c': 4, 'd': 5, 'e': 6}, 1)

In [6]:
test10(1,t = 2,b = 3,c = 4,d = 5,e = 6)

({'t': 2, 'b': 3, 'c': 4, 'd': 5, 'e': 6}, 1)

In [8]:
def test11(a, **sudh , *args):  # the order of the statics with and without keys matter...
    return sudh , a  , args

SyntaxError: invalid syntax (<ipython-input-8-bde1add26f5e>, line 1)

In [9]:
def test12(a , *args, **kwargs) :
    return a , args, kwargs

In [11]:
test12(1,2,3,4,5,6,7,8, g = 5476,l=46)

(1, (2, 3, 4, 5, 6, 7, 8), {'g': 5476, 'l': 46})

In [58]:
def test13(a,b):
    return a*b

In [59]:
test13(45,67)

3015

# create a function without providing a name - LAMBDA FUNCTION

In [14]:
a = lambda a ,b :(a*b  , a+b ) # assigns a function to the variable "a"

In [15]:
a(45,67)

(3015, 112)

In [16]:
a = lambda *a :a

In [17]:
a(56,67,78)

(56, 67, 78)

In [18]:
x=lambda *a:a*a

In [23]:
x(2)  # remember that * returns a tuple

TypeError: can't multiply sequence by non-int of type 'tuple'

In [22]:
x(2,4)  # tuple multiplication does not works

TypeError: can't multiply sequence by non-int of type 'tuple'

In [26]:
v = lambda *i : i**2

In [28]:
v(4)  # operation over a tuple does not work

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [29]:
a=lambda a,b :(a*b,a+b)  # here we are not promption a statis *, therefore the return is NOT  a tuple

In [30]:
a(4,5)

(20, 9)

In [32]:
x = lambda x: (for i in x : print(i))

SyntaxError: invalid syntax (<ipython-input-32-295e1b21e762>, line 1)

In [36]:
x = lambda x: [print(i) for i in x ]

In [37]:
x([4,5,6,6])

4
5
6
6

[None, None, None, None]

In [38]:
x = lambda x :[ i for i in x ]

In [40]:
x([4,5,6,6])

[4, 5, 6, 6]

In [41]:
x = lambda x :[ i for i in x ]

In [42]:
x([45,435,56,56,5])

[45, 435, 56, 56, 5]

In [43]:
a = lambda **kwargs : kwargs

In [44]:
a(a  = 45, b = 56)

{'a': 45, 'b': 56}

In [105]:
c = 10 
def test16(c , d ):
    c = 5  # internal value in the function
    return c*d

In [106]:
test16(10,50)

250

In [2]:
c = 10  # value external assigned

In [3]:
l = [1,2,3,4,56,78,7,88,7]    # operation on list
l1 = []
for i in l :
    l1.append(i+2)

In [4]:
l1

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [5]:
def test17(a) :             # same operation but in a function
    l1 = []
    for i in a :
        l1.append(i+2)
    return l1

In [6]:
test17(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [7]:
a = lambda a : [i+2 for i in a ]   # same operation with a list comprehension , always produces a list

In [8]:
a(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [9]:
l

[1, 2, 3, 4, 56, 78, 7, 88, 7]

In [11]:
[(i**2,i+i) for i in l ]

[(1, 2),
 (4, 4),
 (9, 6),
 (16, 8),
 (3136, 112),
 (6084, 156),
 (49, 14),
 (7744, 176),
 (49, 14)]

In [12]:
[(i**2,i+i) for i in l if i< 4 ]

[(1, 2), (4, 4), (9, 6)]

In [14]:
[(i**2,i+i) for i in l if i< 4 if i>1]  # double condition in a list comprehension

[(4, 4), (9, 6)]

In [15]:
l1 = []
for i in l :
    if i < 4 :
         l1.append((i**2 , i+i) )

In [16]:
l1

[(1, 2), (4, 4), (9, 6)]

###  creates a dictionary

In [18]:
d = {1:1 , 2 :4 , 3:9}

In [19]:
{i:i**2 for i in range(10)}   # comprehension to create a dictionary

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [20]:
d1 = {}                     # create a dictionary with a flow
for i in range(10) : 
    d1[i] = i**2

In [21]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [25]:
(i for i in range(10))

In [22]:
tuple(i for i in range(10))  # tuple comprehension

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [26]:
a = 56
for i in a :    # "a" is not an iterable
    print(i)

TypeError: 'int' object is not iterable

In [27]:
s = "sudh"
for i in s :   # "s" is iterable
    print(i)

s
u
d
h

### * if you are able to access the elements of an object one by one then the object is iterable
### * iterator

In [137]:
next(s)   # "s" is not an iterator, next functions gives you one element at the time only is "s" is an iterator

TypeError: 'str' object is not an iterator

In [140]:
s

'sudh'

In [32]:
b = iter(s)   # "iter" function creates iterators from iterables

In [33]:
b

In [34]:
next(b)

's'

In [35]:
next(b)

'u'

In [36]:
next(b)

'd'

In [38]:
s = "fdsfsf"   # this iterable "s" object is transformed into iterator internally in the function "for" by using 
for i in s :   # the iter() function
    print(i)

f
d
s
f
s
f

In [39]:
s = iter(s)

In [40]:
next(s)

'f'

In [41]:
next(s)

'd'

In [42]:
next(s)

's'

In [43]:
next(s)

'f'

In [44]:
next(s)

's'

In [45]:
next(s)

'f'

In [48]:
next(s)   # next gives the elements of the iterator until it exausts itself

StopIteration:

In [49]:
l = [3,4,5,6,6]   # list is iterable

In [50]:
next(l)

TypeError: 'list' object is not an iterator

In [51]:
iter(45)

TypeError: 'int' object is not iterable

In [52]:
l

[3, 4, 5, 6, 6]

In [54]:
l = iter(l)   # iter() creates an iterator then you can use next() to access it

In [55]:
next(l)

3

In [56]:
next(l)

4

In [57]:
next(l)

5

In [58]:
next(l)

6

In [59]:
next(l)

6

In [60]:
next(l)

StopIteration:

### Generator - is an object that allows you to hold info about a previous dataset you have generated so you can generate the next info

In [62]:
list(range(0,10,3))   # generator keeps the last value so he can generate the next value

[0, 3, 6, 9]

In [72]:
def gencube(n):
    l=[]
    for i in range(n):
        l.append(i**3)
    return l

In [74]:
n=6
gencube(n)    # if n is too big, it will take a while to generate the output list, in every 
              # iteration the entire list is being created/updated

[0, 1, 8, 27, 64, 125]

In [79]:
for i in range(n):   # the range() function outputs each value to the console and does not require
      print(i)       # to keep the entire list in the memory.  range() is way faster
                     # the issue here is that print outputs a non-type value

0
1
2
3
4
5

In [83]:
def gencube(n):
    for i in range(n):
        yield i**3       # yield() function helps to convert a function as a generator
                         # it helps the program to remember what was the value the last time and what was 
                         # the logic. this way is way faster

In [84]:
gencube(n)   # it is a generator object type

In [85]:
for i in gencube(n):   # it produces the data one by one
    print(i)

0
1
8
27
64
125

In [90]:
def fib(n):
    a = 1
    b = 1
    for i in range(n):
        yield a,i
        a,b = b, a+b

In [91]:
for i in fib(10):
    print(i)

(1, 0)
(1, 1)
(2, 2)
(3, 3)
(5, 4)
(8, 5)
(13, 6)
(21, 7)
(34, 8)
(55, 9)

## File operations

In [92]:
f = open("D:\\lh_data\\ineuron\\test.txt","w")   # opens a file to write

In [93]:
f.write("this is my first file operation")

31

In [94]:
f.close()  # you need to close it before seeing the context inside of the text file

In [95]:
%%writefile test1.txt
this is a data i would like to store in my file

Writing test1.txt

In [96]:
f = open("D:\\lh_data\\ineuron\\test.txt","r")   # opens a file to read

In [97]:
f.read()

'this is my first file operation'

In [98]:
f.read()

''

In [99]:
f.seek(5)  # puts the cursor in the fifth positon

5

In [100]:
f.read()

'is my first file operation'

In [101]:
f.tell()   # tells you wehre is the cursor located

31

In [102]:
f.close()

In [106]:
f = open("test1.txt","r+")   # r+ helps to read and write at the same time

In [107]:
f.readline()   # reads the first line saved in the text file

'this is a data i would like to store in my file\n'

In [114]:
f.seek(0)

0

In [115]:
for line in f:
    print(line)

this is a data i would like to store in my file

this is my second line

this is my third line

In [118]:
f.seek(0)

0

In [119]:
for line in f:
    print(line ,end=" ")

this is a data i would like to store in my file
 this is my second line
 this is my third line

In [120]:
f.seek(0)

0

In [121]:
f.readlines()  # outputs a list where each element is a line from the file

['this is a data i would like to store in my file\n',
 'this is my second line\n',
 'this is my third line']

In [122]:
f.seek(0)
l=f.readlines()

In [123]:
l[0].split()

['this',
 'is',
 'a',
 'data',
 'i',
 'would',
 'like',
 'to',
 'store',
 'in',
 'my',
 'file']

In [124]:
for i in l[0].split():   # extracts the first letter from each word
    print(i[0])

t
i
a
d
i
w
l
t
s
i
m
f

# CLASS FUNCTIONS

In [165]:
class PrintNumber:
    def __init__(self, max):
        self.max = max

    def __iter__(self):
        self.num = 0
        return self

    def __next__(self):
        if(self.num >= self.max):
            raise StopIteration
        self.num += 1
        return self.num

print_num = PrintNumber(3)

print_num_iter = iter(print_num)
print(next(print_num_iter))  
print(next(print_num_iter))  
print(next(print_num_iter))  

# raises StopIteration
print(next(print_num_iter))

1
2
3

StopIteration:

In [ ]:
s = "sudh"
s1 = iter(s)
next(s1)
next(s1)

print_num = PrintNumber(3)

print_num_iter = iter(print_num)
print(next(print_num_iter))  
print(next(print_num_iter))  
print(next(print_num_iter))  
# raises StopIteration
print(next(print_num_iter))

In [167]:
def test6(*args):
    l =[]
    for i in args:
        
        if type(i)  == list:
            l.append(i)
    return l

In [169]:
list(l)

[]

In [173]:
a={1:"a",2:"b",3:"c"}
up={4:"d"}
def insertion_beginning(dic,upk):
      upk.update(dic)
      print(upk)
      return upk
insertion_beginning(a,up)

{4: 'd', 1: 'a', 2: 'b', 3: 'c'}

{4: 'd', 1: 'a', 2: 'b', 3: 'c'}

In [178]:
def test21(d, e):
    c = 5 # local declaration
    d = 10
    return c*d

In [179]:
test21(4,5)

50

In [180]:
test21(50 , 45)

50

In [177]:
d

{1: 1, 2: 4, 3: 9, 0: 0, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [181]:
l = [3,4,5,6,76]

In [182]:
len(l)

5

In [188]:
def test(*ankit):
    for i in ankit:
        
        if type(i)==list:
            return ankit

In [189]:
test(345,56,56,56,5,6,56,56,[3,4,56,7,67,6,7])

(345, 56, 56, 56, 5, 6, 56, 56, [3, 4, 56, 7, 67, 6, 7])

In [195]:
l155=[1,2,[3,4,5,'t','t','t','t']]
for i in l155:
    l155
    if type(i)==list:
        for each in i:
            if type(each)==str:
                l155.remove(each)
                continue
    print(l155)

[1, 2, [3, 4, 5, 't', 't', 't', 't']]
[1, 2, [3, 4, 5, 't', 't', 't', 't']]

ValueError: list.remove(x): x not in list

In [192]:
l1

[3, 4, 5]

In [193]:
l = [3,4,5,'t','t','t','t']
l.remove("t")

In [194]:
l

[3, 4, 5, 't', 't', 't']

In [ ]:
l333=[[1, 2],
 (3+4j),
 [3, 'shubham', 'shubham'],
 [5, 'nandan'],
 ['srivastava'],
 [7, 8],
 [9, 10]]
for i in l333:
    if type(i)==list:
        j=0
        while j < len(i):
            if type(i[j])==str:
                i.remove(i[j])
                continue
                
            j=j+1

In [198]:
# this works
spam={'bar':100,'car':200}

for cat1,cat2 in spam.keys(),spam.values():
    print(cat1,cat2)

# this works
spam = {'bar': 100, 'car': 200}

for cat1, cat2 in spam,spam.keys():# also works with spam,spam.value()
    print(cat1, cat2)

# this would not work

spam = {'bar': 100, 'car': 200}

for cat1, cat2 in spam.keys(), spam.values():# also works with spam,spam.value()
    print(cat1, cat2)

bar car
100 200
bar car
bar car
bar car
100 200

In [199]:
for i in spam:
    print(i)

bar
car

In [200]:
spam.keys()

dict_keys(['bar', 'car'])

In [201]:
spam.values()

dict_values([100, 200])

In [205]:

d = lambda *a,b:[i+b for i in a ]
d(1,2, 3,b=5)

[6, 7, 8]

In [208]:
def power(n0,powr):
    """
    Power Function 
    """
    return int(n0) ** int(powr)

def add(n0,n1):
    """
    Addition Function
    """
    return int(n0) + int(n1)

def sub(n0,n1):
    """
    Subtraction Function
    """
    return int(n0) - int(n1)

def mul(n0,n1):
    """
    Multiplication Function
    """
    return int(n0) * int(n1)

def div(n0,n1):
    """
    Divison Function
    """
    try:
        return int(n0) / int(n1)
    except Exception as e:
        return e.__class__

In [209]:
def opr(function, n0, n1):
    """
    This function is used to call builtin functions like power, add, sub, mul, div
    Inputs are as follows function_name, Number 1 , Number 2
    """
    try:
        if(function == power or function == add or function == sub or function == mul or function == div):
            return function(n0, n1)
        elif (function == coc):
            return "check the function name"
    except NameError:
        return NameError
    except Exception as e1:    
        return e1.__class__

In [214]:
opr(a,3,3)

NameError

In [213]:
a

{1: 'a', 2: 'b', 3: 'c'}

In [218]:
l=[]
def test_nested_dict(d):

      
    for i in d:
        if type(d[i])==dict:
            test_nested_dict(d[i])
            
        else:
            l.append(d[i])

    return l

test_nested_dict({'x':0,'one':{'a':1,'b':2,'c':{'p':11,'q':22,'r':{'u':'UUUU','v':{'xx':90,'zz':'gyan'}
                                                      }
                                   }
                        },
                  'two':2222})

SyntaxError: invalid syntax (<ipython-input-218-a0e8d51ac0ac>, line 4)

In [220]:
try:
        global l
        if len(l)!=0:
            pass
    except:
        l=[]

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [221]:
#l=[]
def test_nested_dict(d):
    try:
        global l
        if len(l)!=0:
            pass
    except:
        l=[]
        
    for i in d:
        if type(d[i])==dict:
            test_nested_dict(d[i])
            
        else:
            l.append(d[i])

    return l

test_nested_dict({'x':0,
                  'one':{'a':1,'b':2,
                               'c':{'p':11,'q':22,'r':{'u':'UUUU',
                                                       'v':{'xx':90,'zz':'gyan'}
                                                      }
                                   }
                        },
                  'two':2222})

[0,
 1,
 2,
 11,
 22,
 'UUUU',
 90,
 'gyan',
 2222,
 0,
 1,
 2,
 11,
 22,
 'UUUU',
 90,
 'gyan',
 2222]

In [222]:
N= int(input("Enter the length of the dict"))
dict_var={}
for i in range(1,N+1):
    k = input("Enter the keys")
    v = input("Enter the values")
    
    print(keys)
   
    print(values)
    dict_var[k]=v
    #x = {"keys": values}
print(dict_var)

Enter the length of the dict345
Enter the keys544
Enter the values54

NameError: name 'keys' is not defined

In [227]:
def test():
    i = 0
    while i< 4:
        yield i 
        i=i+1

In [228]:
[i for i in test()]

[0, 1, 2, 3]

In [229]:
N= int(input("Enter the length of the dict"))
dict_var={}
for i in range(1,N+1):
    k = input("Enter the keys")
    v = input("Enter the values")
    dict_var[k]=v
print(dict_var)

Enter the length of the dicttrg

ValueError: invalid literal for int() with base 10: 'trg'