In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("D:\\lh_data\\ineuron\\book1.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\lh_data\\ineuron\\book1.csv'

In [4]:
df = pd.read_csv("D:\\lh_data\\ineuron\\book1.csv", names =["name","email"])
df

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\lh_data\\ineuron\\book1.csv'

In [ ]:
df = pd.read_csv("D:\\lh_data\\ineuron\\book1.csv", skiprows=[1,3])
df

In [ ]:
df_locations = pd.read_csv("D:\lh_data\ineuron\\sample-csv\\locations.csv")
df_locations

In [ ]:
df_locations.columns

In [ ]:
df_locations.dtypes

In [ ]:
df_locations[["id","accessibility"]]

In [5]:
df_books = pd.read_excel("D:\lh_data\ineuron\\Book1.xlsx", sheet_name=0)
df_books

     name                 email   address  pincode    surname
0   mario   rivillasm@gmail.com   calgary   560080   rivillas
1  mario1  rivillasm1@gmail.com  calgary1   560081  rivillas1
2  mario2  rivillasm2@gmail.com  calgary2   560082  rivillas2
3  mario3  rivillasm3@gmail.com  calgary3   560083  rivillas3

In [6]:
df_books = pd.read_excel("D:\lh_data\ineuron\\Book1.xlsx", sheet_name=1)
df_books

       name                email    address  pincode        surname
0   diliara   dkhairou@gmail.com   edmonton   560080   khairoullina
1  diliara1  dkhairou1@gmail.com  edmonton1   560081  khairoullina1
2  diliara2  dkhairou2@gmail.com  edmonton2   560082  khairoullina2
3  diliara3  dkhairou3@gmail.com  edmonton3   560083  khairoullina3

In [7]:
df = pd.ExcelFile("D:\lh_data\ineuron\Book1.xlsx")    # find out the sheets available
df.sheet_names

['Sheet1', 'Sheet2']

In [8]:
for i in df.sheet_names:
    df_books_all = pd.read_excel("D:\lh_data\ineuron\\Book1.xlsx", sheet_name=i)

df_books_all

       name                email    address  pincode        surname
0   diliara   dkhairou@gmail.com   edmonton   560080   khairoullina
1  diliara1  dkhairou1@gmail.com  edmonton1   560081  khairoullina1
2  diliara2  dkhairou2@gmail.com  edmonton2   560082  khairoullina2
3  diliara3  dkhairou3@gmail.com  edmonton3   560083  khairoullina3

In [9]:
df_books_all = pd.read_excel("D:\lh_data\ineuron\\Book1.xlsx", sheet_name=None)
print(type(df_books_all))
df_books_all

<class 'dict'>

{'Sheet1':      name                 email   address  pincode    surname
 0   mario   rivillasm@gmail.com   calgary   560080   rivillas
 1  mario1  rivillasm1@gmail.com  calgary1   560081  rivillas1
 2  mario2  rivillasm2@gmail.com  calgary2   560082  rivillas2
 3  mario3  rivillasm3@gmail.com  calgary3   560083  rivillas3,
 'Sheet2':        name                email    address  pincode        surname
 0   diliara   dkhairou@gmail.com   edmonton   560080   khairoullina
 1  diliara1  dkhairou1@gmail.com  edmonton1   560081  khairoullina1
 2  diliara2  dkhairou2@gmail.com  edmonton2   560082  khairoullina2
 3  diliara3  dkhairou3@gmail.com  edmonton3   560083  khairoullina3}

In [10]:
df_books_all.keys()

dict_keys(['Sheet1', 'Sheet2'])

In [11]:
df_books_all.values()

dict_values([     name                 email   address  pincode    surname
0   mario   rivillasm@gmail.com   calgary   560080   rivillas
1  mario1  rivillasm1@gmail.com  calgary1   560081  rivillas1
2  mario2  rivillasm2@gmail.com  calgary2   560082  rivillas2
3  mario3  rivillasm3@gmail.com  calgary3   560083  rivillas3,        name                email    address  pincode        surname
0   diliara   dkhairou@gmail.com   edmonton   560080   khairoullina
1  diliara1  dkhairou1@gmail.com  edmonton1   560081  khairoullina1
2  diliara2  dkhairou2@gmail.com  edmonton2   560082  khairoullina2
3  diliara3  dkhairou3@gmail.com  edmonton3   560083  khairoullina3])

In [12]:
df_books_all["Sheet1"]

     name                 email   address  pincode    surname
0   mario   rivillasm@gmail.com   calgary   560080   rivillas
1  mario1  rivillasm1@gmail.com  calgary1   560081  rivillas1
2  mario2  rivillasm2@gmail.com  calgary2   560082  rivillas2
3  mario3  rivillasm3@gmail.com  calgary3   560083  rivillas3

In [13]:
# READING HTML - extracts only the tabular data from the link, no tabular data is not being extracted
#
df = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [14]:
df1 = df[0]
df1.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [15]:
(df1.dtypes)

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [16]:
df1.to_csv("test.cvs",index=False)

In [17]:
# string in json format
d_json = """{"name":"mario rivillas",
    "emailid":"rivillasm@gmail.com",
    "tech":["ML","DL","CV","BD","DA"],
    "plateform":["techneuron","kidsneuron","ineuron"]}"""

In [18]:
import json

# JSONVIEWER ONLINE TO VALIDATE

In [19]:
result = json.loads(d_json)
result    # in form of a dictionary

{'name': 'mario rivillas',
 'emailid': 'rivillasm@gmail.com',
 'tech': ['ML', 'DL', 'CV', 'BD', 'DA'],
 'plateform': ['techneuron', 'kidsneuron', 'ineuron']}

In [20]:
# dataframe from stringt
d = {"name":"mario rivillas",
    "emailid":"rivillasm@gmail.com",
    "tech":["ML","DL","CV"],
    "plateform":["techneuron","kidsneuron","ineuron"]}

f_dict = pd.DataFrame(d)
f_dict

             name              emailid tech   plateform
0  mario rivillas  rivillasm@gmail.com   ML  techneuron
1  mario rivillas  rivillasm@gmail.com   DL  kidsneuron
2  mario rivillas  rivillasm@gmail.com   CV     ineuron

In [21]:
shoes = [
{ "id": 1, "name": "Air Force 1 Mid Casual", "brand": "Nike", "in_stock": True },
{ "id": 2, "name": "Blazer Mid '77 Casual", "brand": "Nike", "in_stock": True },
{ "id": 3, "name": "One Take Basketball Shoes", "brand": "Jordan", "in_stock": False }
]
shoes

[{'id': 1,
  'name': 'Air Force 1 Mid Casual',
  'brand': 'Nike',
  'in_stock': True},
 {'id': 2, 'name': "Blazer Mid '77 Casual", 'brand': 'Nike', 'in_stock': True},
 {'id': 3,
  'name': 'One Take Basketball Shoes',
  'brand': 'Jordan',
  'in_stock': False}]

In [22]:
del(shoes[0]["brand"])  # deleting an item from a dictionary

In [23]:
shoes

[{'id': 1, 'name': 'Air Force 1 Mid Casual', 'in_stock': True},
 {'id': 2, 'name': "Blazer Mid '77 Casual", 'brand': 'Nike', 'in_stock': True},
 {'id': 3,
  'name': 'One Take Basketball Shoes',
  'brand': 'Jordan',
  'in_stock': False}]

# EXAMPLE

In [24]:
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [25]:
df = pd.read_json(url)
df.head(5)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46351,1167422549,I_kwDOAA0YD85FlXRV,46351,Question: why use Azure for CI?,...,2022-03-12 23:13:37+00:00,NaT,CONTRIBUTOR,NaN,What’s the reason that pandas uses GHA alongsi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46350,1167422110,PR_kwDOAA0YD840WVgz,46350,TST: xfail(strict=False) flaky hashtable test ...,...,2022-03-12 22:56:27+00:00,NaT,MEMBER,NaN,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46349,1167417912,PR_kwDOAA0YD840WUvE,46349,PERF: Index[StringArray],...,2022-03-12 22:40:13+00:00,NaT,MEMBER,NaN,- [x] closes #45652 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46348,1167412829,PR_kwDOAA0YD840WT3e,46348,Series.map Performance Improvement When Using ...,...,2022-03-12 22:41:49+00:00,NaT,NONE,NaN,- [x] closes #46248\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46347,1167404425,PR_kwDOAA0YD840WSZR,46347,Fix snappy version,...,2022-03-12 22:23:29+00:00,NaT,CONTRIBUTOR,NaN,Fix for https://github.com/pandas-dev/pandas/p...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...

In [26]:
import requests

In [27]:
data = requests.get(url)   # load all the data from a url
data

In [28]:
data1 = data.json()   # show the data into a json format
data1

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46351',
  'id': 1167422549,
  'node_id': 'I_kwDOAA0YD85FlXRV',
  'number': 46351,
  'title': 'Question: why use Azure for CI?',
  'user': {'login': 'jonashaag',
   'id': 175722,
   'node_id': 'MDQ6VXNlcjE3NTcyMg==',
   'avatar_url': 'https://avatars.githubusercontent.com/u/175722?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jonashaag',
   'html_url': 'https://github.com/jonashaag',
   'followers_url': 'https://api.github.com/users/jonashaag/followers',
   'following_url': 'https://api.github.com/users/jonashaag/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jonashaag/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jonashaag/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jonashaag/subscriptions',
   'organizations_url': 'https://api.github.com/users/jonashaag/orgs',
   'repos_url': 'https://api.github.com/users/jonashaag/repos',
   'events_url': 'https://api.github.com/users/jonashaag/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jonashaag/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Continuous Integration'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 4,
  'created_at': '2022-03-12T22:58:55Z',
  'updated_at': '2022-03-12T23:13:37Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': 'What’s the reason that pandas uses GHA alongside Azure? What does Azure provide that GHA doesn’t?',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46350',
  'id': 1167422110,
  'node_id': 'PR_kwDOAA0YD840WVgz',
  'number': 46350,
  'title': 'TST: xfail(strict=False) flaky hashtable test on ARM',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'},
   {'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Continuous Integration'},
   {'id': 2628846204,
    'node_id': 'MDU6TGFiZWwyNjI4ODQ2MjA0',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/ARM',
    'name': 'ARM',
    'color': 'c2e0c6',
    'default': False,
    'description': 'aarch64 architecture'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-12T22:56:27Z',
  'updated_at': '2022-03-12T22:56:27Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46350',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46350',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46350.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46350.patch',
   'merged_at': None},
  'body': '- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n\r\nExample: https://app.circleci.com/pipelines/github/pandas-dev/pandas/8766/workflows/4a9ce4f4-0e1c-49aa-b035-ffcb6334be45/jobs/39610\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46349',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46349/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46349/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46349/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46349',
  'id': 1167417912,
  'node_id': 'PR_kwDOAA0YD840WUvE',
  'number': 46349,
  'title': 'PERF: Index[StringArray]',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2022-03-12T22:32:11Z',
  'updated_at': '2022-03-12T22:40:13Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46349',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46349',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46349.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46349.patch',
   'merged_at': None},
  'body': '- [x] closes #45652 (Replace xxxx with the Github issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nbandaid until we can improve perf in ExtensionEngine',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46349/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46349/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46348',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46348/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46348/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46348/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46348',
  'id': 1167412829,
  'node_id': 'PR_kwDOAA0YD840WT3e',
  'number': 46348,
  'title': 'Series.map Performance Improvement When Using Dictionaries',
  'user': {'login': 'ryansdowning',
   'id': 20880292,
   'node_id': 'MDQ6VXNlcjIwODgwMjky',
   'avatar_url': 'https://avatars.githubusercontent.com/u/20880292?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/ryansdowning',
   'html_url': 'https://github.com/ryansdowning',
   'followers_url': 'https://api.github.com/users/ryansdowning/followers',
   'following_url': 'https://api.github.com/users/ryansdowning/following{/other_user}',
   'gists_url': 'https://api.github.com/users/ryansdowning/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/ryansdowning/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/ryansdowning/subscriptions',
   'organizations_url': 'https://api.github.com/users/ryansdowning/orgs',
   'repos_url': 'https://api.github.com/users/ryansdowning/repos',
   'events_url': 'https://api.github.com/users/ryansdowning/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/ryansdowning/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'},
   {'id': 697792067,
    'node_id': 'MDU6TGFiZWw2OTc3OTIwNjc=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Apply',
    'name': 'Apply',
    'color': 'fbca04',
    'default': False,
    'description': 'Apply, Aggregate, Transform'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-12T22:05:25Z',
  'updated_at': '2022-03-12T22:41:49Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46348',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46348',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46348.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46348.patch',
   'merged_at': None},
  'body': '- [x] closes #46248\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nHello, first time contributing to pandas so if I did something wrong, please let me know!\r\n\r\nIn the discussion for #46248 I proposed a very simple solution using `collections.defaultdict`. However, after implementing the change, I found a performance improvement of 10x, but that was still a far stretch from the 1000-10000x improvement I was expecting. After more testing I found that the majority of the time was now being spent by copying the dictionary to the `defaultdict`. To avoid unnecessarily copying the dictionary\'s data, I added `ReadOnlyNanDefaultDict` which gives us the behavior of `defaultdict(lambda: np.nan, dictionary_object)` without copying the data. As given by the name, it is also read only since that is all that is needed by `IndexOpsMixin._map_values`. With this change, I see the huge performance boost of 1000-10000x.\r\n\r\nI realize this is a somewhat hacky change as compared to the original proposed solution, so if anyone has a better suggestion for avoiding copying the data, that would be ideal. Additionally, if this is accepted, I\'m not sure where `ReadOnlyNanDefaultDict` should live, but presumably not in `core/base.py`. The differences in the implementations can be see between the first and second commits on this branch.\r\n\r\nLastly, I tried to add type hints for `IndexOpsMixin._map_values` but could not find the proper way of typing `Series` without causing a circular import. Is `"Series"` the way to go, or is there something better?',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46348/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46348/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46347',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46347/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46347/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46347/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46347',
  'id': 1167404425,
  'node_id': 'PR_kwDOAA0YD840WSZR',
  'number': 46347,
  'title': 'Fix snappy version',
  'user': {'login': 'jonashaag',
   'id': 175722,
   'node_id': 'MDQ6VXNlcjE3NTcyMg==',
   'avatar_url': 'https://avatars.githubusercontent.com/u/175722?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jonashaag',
   'html_url': 'https://github.com/jonashaag',
   'followers_url': 'https://api.github.com/users/jonashaag/followers',
   'following_url': 'https://api.github.com/users/jonashaag/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jonashaag/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jonashaag/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jonashaag/subscriptions',
   'organizations_url': 'https://api.github.com/users/jonashaag/orgs',
   'repos_url': 'https://api.github.com/users/jonashaag/repos',
   'events_url': 'https://api.github.com/users/jonashaag/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jonashaag/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Continuous Integration'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/92',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/92',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/92/labels',
   'id': 7530006,
   'node_id': 'MI_kwDOAA0YD84AcuYW',
   'number': 92,
   'title': '1.5',
   'description': '',
   'creator': {'login': 'jreback',
    'id': 953992,
    'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
    'avatar_url': 'https://avatars.githubusercontent.com/u/953992?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jreback',
    'html_url': 'https://github.com/jreback',
    'followers_url': 'https://api.github.com/users/jreback/followers',
    'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
    'organizations_url': 'https://api.github.com/users/jreback/orgs',
    'repos_url': 'https://api.github.com/users/jreback/repos',
    'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jreback/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 54,
   'closed_issues': 495,
   'state': 'open',
   'created_at': '2021-12-31T21:51:13Z',
   'updated_at': '2022-03-12T22:58:00Z',
   'due_on': '2022-06-30T07:00:00Z',
   'closed_at': None},
  'comments': 2,
  'created_at': '2022-03-12T21:28:08Z',
  'updated_at': '2022-03-12T22:23:29Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46347',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46347',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46347.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46347.patch',
   'merged_at': None},
  'body': 'Fix for https://github.com/pandas-dev/pandas/pull/46260\r\n\r\n- [ ] closes #xxxx (Replace xxxx with the Github issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46347/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46347/timeline',

In [29]:
data1[0]["user"]["id"]

175722

In [30]:
len(data1)

30

In [31]:
for i in range(len(data1)):
    print(i, data1[i]["user"]["id"])

0 175722
1 10647082
2 8078968
3 20880292
4 175722
5 175722
6 10647082
7 15113894
8 36619387
9 8078968
10 7614606
11 8078968
12 953992
13 39624018
14 1538165
15 19217750
16 8519523
17 53796099
18 41342515
19 175722
20 3236794
21 8238804
22 247555
23 30958850
24 61934744
25 73829711
26 61934744
27 6618166
28 726951
29 16693035

In [32]:
df_json_csv = pd.DataFrame(data1, columns=["id","user","url","repository_url","labels_url"])

In [33]:
type(df_json_csv)

pandas.core.frame.DataFrame

In [34]:
df_json_csv.to_csv("json.csv")

In [35]:
df_json_csv.user[0]

{'login': 'jonashaag',
 'id': 175722,
 'node_id': 'MDQ6VXNlcjE3NTcyMg==',
 'avatar_url': 'https://avatars.githubusercontent.com/u/175722?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/jonashaag',
 'html_url': 'https://github.com/jonashaag',
 'followers_url': 'https://api.github.com/users/jonashaag/followers',
 'following_url': 'https://api.github.com/users/jonashaag/following{/other_user}',
 'gists_url': 'https://api.github.com/users/jonashaag/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/jonashaag/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/jonashaag/subscriptions',
 'organizations_url': 'https://api.github.com/users/jonashaag/orgs',
 'repos_url': 'https://api.github.com/users/jonashaag/repos',
 'events_url': 'https://api.github.com/users/jonashaag/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/jonashaag/received_events',
 'type': 'User',
 'site_admin': False}

In [36]:
len(df_json_csv.user[0].keys())

18

In [37]:
df_json_csv.user[29]

{'login': 'pjireland',
 'id': 16693035,
 'node_id': 'MDQ6VXNlcjE2NjkzMDM1',
 'avatar_url': 'https://avatars.githubusercontent.com/u/16693035?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/pjireland',
 'html_url': 'https://github.com/pjireland',
 'followers_url': 'https://api.github.com/users/pjireland/followers',
 'following_url': 'https://api.github.com/users/pjireland/following{/other_user}',
 'gists_url': 'https://api.github.com/users/pjireland/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/pjireland/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/pjireland/subscriptions',
 'organizations_url': 'https://api.github.com/users/pjireland/orgs',
 'repos_url': 'https://api.github.com/users/pjireland/repos',
 'events_url': 'https://api.github.com/users/pjireland/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/pjireland/received_events',
 'type': 'User',
 'site_admin': False}

In [38]:
len(df_json_csv.user[29].keys())

18

In [39]:
_keys=(df_json_csv.user[29].keys())
_keys

dict_keys(['login', 'id', 'node_id', 'avatar_url', 'gravatar_id', 'url', 'html_url', 'followers_url', 'following_url', 'gists_url', 'starred_url', 'subscriptions_url', 'organizations_url', 'repos_url', 'events_url', 'received_events_url', 'type', 'site_admin'])

In [40]:
df_json_csv.columns

Index(['id', 'user', 'url', 'repository_url', 'labels_url'], dtype='object')

In [41]:
test = df_json_csv.copy()
for i in range(test.shape[0]):
    for _key in _keys:
        #print(i,_key)
        name = "loging_"+_key
        test.loc[test.index[i],name]=test.user[i][_key]

In [42]:
test.columns

Index(['id', 'user', 'url', 'repository_url', 'labels_url', 'loging_login',
       'loging_id', 'loging_node_id', 'loging_avatar_url',
       'loging_gravatar_id', 'loging_url', 'loging_html_url',
       'loging_followers_url', 'loging_following_url', 'loging_gists_url',
       'loging_starred_url', 'loging_subscriptions_url',
       'loging_organizations_url', 'loging_repos_url', 'loging_events_url',
       'loging_received_events_url', 'loging_type', 'loging_site_admin'],
      dtype='object')

In [43]:
test.head()

,id,user,url,repository_url,labels_url,loging_login,loging_id,loging_node_id,loging_avatar_url,loging_gravatar_id,...,loging_following_url,loging_gists_url,loging_starred_url,loging_subscriptions_url,loging_organizations_url,loging_repos_url,loging_events_url,loging_received_events_url,loging_type,loging_site_admin
0,1167422549,"{'login': 'jonashaag', 'id': 175722, 'node_id'...",https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,jonashaag,175722.0,MDQ6VXNlcjE3NTcyMg==,https://avatars.githubusercontent.com/u/175722...,,...,https://api.github.com/users/jonashaag/followi...,https://api.github.com/users/jonashaag/gists{/...,https://api.github.com/users/jonashaag/starred...,https://api.github.com/users/jonashaag/subscri...,https://api.github.com/users/jonashaag/orgs,https://api.github.com/users/jonashaag/repos,https://api.github.com/users/jonashaag/events{...,https://api.github.com/users/jonashaag/receive...,User,False
1,1167422110,"{'login': 'mroeschke', 'id': 10647082, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,mroeschke,10647082.0,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,...,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
2,1167417912,"{'login': 'jbrockmendel', 'id': 8078968, 'node...",https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,jbrockmendel,8078968.0,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
3,1167412829,"{'login': 'ryansdowning', 'id': 20880292, 'nod...",https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,ryansdowning,20880292.0,MDQ6VXNlcjIwODgwMjky,https://avatars.githubusercontent.com/u/208802...,,...,https://api.github.com/users/ryansdowning/foll...,https://api.github.com/users/ryansdowning/gist...,https://api.github.com/users/ryansdowning/star...,https://api.github.com/users/ryansdowning/subs...,https://api.github.com/users/ryansdowning/orgs,https://api.github.com/users/ryansdowning/repos,https://api.github.com/users/ryansdowning/even...,https://api.github.com/users/ryansdowning/rece...,User,False
4,1167404425,"{'login': 'jonashaag', 'id': 175722, 'node_id'...",https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,jonashaag,175722.0,MDQ6VXNlcjE3NTcyMg==,https://avatars.githubusercontent.com/u/175722...,,...,https://api.github.com/users/jonashaag/followi...,https://api.github.com/users/jonashaag/gists{/...,https://api.github.com/users/jonashaag/starred...,https://api.github.com/users/jonashaag/subscri...,https://api.github.com/users/jonashaag/orgs,https://api.github.com/users/jonashaag/repos,https://api.github.com/users/jonashaag/events{...,https://api.github.com/users/jonashaag/receive...,User,False

# New Dataset

In [44]:

df = pd.read_csv("D:\\lh_data\\ineuron\\titanic.txt")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [45]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [46]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [48]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [49]:
df.dtypes[df.dtypes == 'object']  # outputs the index of the series df.dtypes

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [50]:
cat_columns = df.dtypes[df.dtypes == 'object'].index  # outputs the index of the series df.dtypes

In [51]:
df[cat_columns]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [52]:
df[cat_columns].describe()   # describe for cathegorical variables

                          Name   Sex  Ticket Cabin Embarked
count                      891   891     891   204      889
unique                     891     2     681   147        3
top     Perkin, Mr. John Henry  male  347082    G6        S
freq                         1   577       7     4      644

In [53]:
len(df[df['Age'].isnull()==True].index)

177

In [54]:
df[df['Age'].isnull()==True]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [55]:
df[df['Fare']==max(df['Fare'])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C

In [56]:
print(f" {df[df.Sex=='female'].shape[0]} females survived from a total of {len(df.Sex)} pasangers")

 314 females survived from a total of 891 pasangers

In [57]:
print(f" {df[df.Sex=='male'].shape[0]} females survived from a total of {len(df.Sex)} pasangers")

 577 females survived from a total of 891 pasangers

In [58]:
print(f" {len(df[df.Survived==True])} people survived from a total of {len(df.Survived)} pasangers")

 342 people survived from a total of 891 pasangers

In [59]:
print(f" {len(df[df.Survived==False])} people died from a total of {len(df.Survived)} pasangers")

 549 people died from a total of 891 pasangers

In [60]:
print(f" Oldest person in the titanic was {max(df.Age)} year old and his name was: {df[df.Age == max(df.Age)].Name.values[0]}")

 Oldest person in the titanic was 80.0 year old and his name was: Barkworth, Mr. Algernon Henry Wilson

In [61]:
print(f" first class : {len(df[df.Pclass == 1])} passangers")
print(f" second class : {len(df[df.Pclass == 2])} passangers")
print(f" third class : {len(df[df.Pclass == 3])} passangers")

 first class : 216 passangers
 second class : 184 passangers
 third class : 491 passangers

In [66]:
df.Name

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [67]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [68]:
print(f" amount of passangers whose name started with 'S' : {len(df.Name[df.Name.str.startswith('S')])}")

 amount of passangers whose name started with 'S' : 86

In [69]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [70]:
df['S+P']=df.SibSp + df.Parch
df[['SibSp','Parch','S+P']]

     SibSp  Parch  S+P
0        1      0    1
1        1      0    1
2        0      0    0
3        1      0    1
4        0      0    0
..     ...    ...  ...
886      0      0    0
887      0      0    0
888      1      2    3
889      0      0    0
890      0      0    0

[891 rows x 3 columns]

In [71]:
df.Cabin

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [72]:
result = df.Cabin.str.extract('([a-zA-Z]+)([^a-zA-Z]+)', expand=True)
result

       0    1
0    NaN  NaN
1      C   85
2    NaN  NaN
3      C  123
4    NaN  NaN
..   ...  ...
886  NaN  NaN
887    B   42
888  NaN  NaN
889    C  148
890  NaN  NaN

[891 rows x 2 columns]

In [73]:
df['Cabin_text']=df.Cabin.str.extract('([a-zA-Z]+)', expand=True)
df['Cabin_number']=df.Cabin.str.extract('([^a-zA-Z]+)', expand=True)
df[['Cabin','Cabin_text','Cabin_number']]

    Cabin Cabin_text Cabin_number
0     NaN        NaN          NaN
1     C85          C           85
2     NaN        NaN          NaN
3    C123          C          123
4     NaN        NaN          NaN
..    ...        ...          ...
886   NaN        NaN          NaN
887   B42          B           42
888   NaN        NaN          NaN
889  C148          C          148
890   NaN        NaN          NaN

[891 rows x 3 columns]

In [74]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,S+P,Cabin_text,Cabin_number
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,NaN,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,C,85
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,C,123
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,NaN,NaN

In [78]:
df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [80]:
sum(df.Sex == "male")

577

In [82]:
df.groupby("Sex")["Sex"].count()

Sex
female    314
male      577
Name: Sex, dtype: int64

In [83]:
df.groupby("Pclass")["Pclass"].count()

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64

In [87]:
import re
replace = re.compile("([a-zA-Z]+)")
df["Cabin"].str.extract(replace)

       0
0    NaN
1      C
2    NaN
3      C
4    NaN
..   ...
886  NaN
887    B
888  NaN
889    C
890  NaN

[891 rows x 1 columns]

In [88]:
df["Cabin"].str.replace(replace,"")

0      NaN
1       85
2      NaN
3      123
4      NaN
      ...
886    NaN
887     42
888    NaN
889    148
890    NaN
Name: Cabin, Length: 891, dtype: object

# another dataset

In [89]:
df1 = pd.read_csv("D:\\lh_data\\ineuron\\bank\\bank.csv", sep=";")
df1

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [90]:
df1.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [91]:
print(f" how many campaign available : {len(set(df1.campaign))}")

 how many campaign available : 32

In [109]:
len(df1.campaign.unique())

32

In [92]:
print(f" how many users have housing and personal loans ")
print(f' {len(df1[(df1["housing"]=="yes") & (df1["loan"]=="yes")])} users have housing and loans')

 how many users have housing and personal loans
 406 users have housing and loans

In [93]:
print(f' there are {len(df1[(df1["age"]>60)])} persons older than 60 years ')

 there are 127 persons older than 60 years

In [94]:
print(f" {df1['month'].value_counts().idxmax()} is the month that we targeted most of the customers")

 may is the month that we targeted most of the customers

In [95]:
print(f" {df1.contact.value_counts().idxmax()} is the month that we targeted most of the customers")

 cellular is the month that we targeted most of the customers

In [96]:
df1['month'].value_counts().idxmax()

'may'

In [97]:
print(f" {len(df1[df1['balance']<0])} customers with negative balances")

 366 customers with negative balances

In [113]:
df1.contact.value_counts()

cellular     2896
unknown      1324
telephone     301
Name: contact, dtype: int64

In [119]:
df1_grouped = df1.groupby(['contact','y']).count()
df1_grouped

                age   job  marital  education  default  balance  housing  \
contact   y
cellular  no   2480  2480     2480       2480     2480     2480     2480
          yes   416   416      416        416      416      416      416
telephone no    257   257      257        257      257      257      257
          yes    44    44       44         44       44       44       44
unknown   no   1263  1263     1263       1263     1263     1263     1263
          yes    61    61       61         61       61       61       61

               loan   day  month  duration  campaign  pdays  previous  \
contact   y
cellular  no   2480  2480   2480      2480      2480   2480      2480
          yes   416   416    416       416       416    416       416
telephone no    257   257    257       257       257    257       257
          yes    44    44     44        44        44     44        44
unknown   no   1263  1263   1263      1263      1263   1263      1263
          yes    61    61     61        61        61     61        61

               poutcome
contact   y
cellular  no       2480
          yes       416
telephone no        257
          yes        44
unknown   no       1263
          yes        61

In [122]:
max(df1_grouped.loc["cellular","yes"][0],df1_grouped.loc["telephone","yes"][0],df1_grouped.loc["unknown","yes"][0])

416

In [98]:
set(df1.education)

{'primary', 'secondary', 'tertiary', 'unknown'}

In [99]:
df1[df1.education=="primary"]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4480,23,blue-collar,married,primary,no,1158,yes,no,cellular,16,apr,743,1,-1,0,unknown,no
4485,53,blue-collar,married,primary,no,238,yes,no,cellular,11,may,238,2,361,5,failure,no
4486,37,blue-collar,married,primary,no,378,yes,no,unknown,9,may,514,1,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes

In [100]:
#edu_levels=list(set(df1.education))
edu_levels=df1.education.unique()
edu_levels

array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object)

In [101]:
edu_dict = {level : pd.DataFrame() for level in edu_levels}
edu_dict

{'primary': Empty DataFrame
 Columns: []
 Index: [], 'secondary': Empty DataFrame
 Columns: []
 Index: [], 'tertiary': Empty DataFrame
 Columns: []
 Index: [], 'unknown': Empty DataFrame
 Columns: []
 Index: []}

In [102]:
for key in edu_dict.keys():
    print(key)
    edu_dict[key] = df1[:][df1.education==key]
    print(edu_dict[key].head(3))

primary
    age          job  marital education default  balance housing loan  \
0    30   unemployed  married   primary      no     1787      no   no
9    43     services  married   primary      no      -88     yes  yes
18   25  blue-collar   single   primary      no     -221     yes   no

     contact  day month  duration  campaign  pdays  previous poutcome   y
0   cellular   19   oct        79         1     -1         0  unknown  no
9   cellular   17   apr       313         1    147         2  failure  no
18   unknown   23   may       250         1     -1         0  unknown  no
secondary
   age          job  marital  education default  balance housing loan  \
1   33     services  married  secondary      no     4789     yes  yes
4   59  blue-collar  married  secondary      no        0     yes   no
7   39   technician  married  secondary      no      147     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome   y
1  cellular   11   may       220         1    339         4  failure  no
4   unknown    5   may       226         1     -1         0  unknown  no
7  cellular    6   may       151         2     -1         0  unknown  no
tertiary
   age         job  marital education default  balance housing loan   contact  \
2   35  management   single  tertiary      no     1350     yes   no  cellular
3   30  management  married  tertiary      no     1476     yes  yes   unknown
5   35  management   single  tertiary      no      747      no   no  cellular

   day month  duration  campaign  pdays  previous poutcome   y
2   16   apr       185         1    330         1  failure  no
3    3   jun       199         4     -1         0  unknown  no
5   23   feb       141         2    176         3  failure  no
unknown
    age         job   marital education default  balance housing loan  \
20   38  management  divorced   unknown      no        0     yes   no
27   67     retired   married   unknown      no      696      no   no
49   61      admin.   married   unknown      no     4629     yes   no

      contact  day month  duration  campaign  pdays  previous poutcome    y
20   cellular   18   nov        96         2     -1         0  unknown   no
27  telephone   17   aug       119         1    105         2  failure   no
49   cellular   27   jan       181         1     92         1  success  yes

In [103]:
edu_dict["primary"].head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes

In [104]:
edu_dict["secondary"].head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no

In [105]:
edu_dict["tertiary"].head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no