In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\\lh_data\\ineuron\\book1.csv")
df

     name                 email   address  pincode    surname
0   mario   rivillasm@gmail.com   calgary   560080   rivillas
1  mario1  rivillasm1@gmail.com  calgary1   560081  rivillas1
2  mario2  rivillasm2@gmail.com  calgary2   560082  rivillas2
3  mario3  rivillasm3@gmail.com  calgary3   560083  rivillas3

In [4]:
df = pd.read_csv("D:\\lh_data\\ineuron\\book1.csv", names =["name","email"])
df

                                         name      email
name   email                address   pincode    surname
mario  rivillasm@gmail.com  calgary    560080   rivillas
mario1 rivillasm1@gmail.com calgary1   560081  rivillas1
mario2 rivillasm2@gmail.com calgary2   560082  rivillas2
mario3 rivillasm3@gmail.com calgary3   560083  rivillas3

In [5]:
df = pd.read_csv("D:\\lh_data\\ineuron\\book1.csv", skiprows=[1,3])
df

     name                 email   address  pincode    surname
0  mario1  rivillasm1@gmail.com  calgary1   560081  rivillas1
1  mario3  rivillasm3@gmail.com  calgary3   560083  rivillas3

In [3]:
df_locations = pd.read_csv("D:\lh_data\ineuron\\sample-csv\\locations.csv")
df_locations

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False
5,6,2,"disabled_parking, wheelchair",NaN,NaN,A multipurpose center offering a wide variety ...,NaN,"Tagalog, Spanish",37.448020,-122.180591,Little House,A multipurpose senior citizens' center.,"SAMTRANS stops within 3 blocks, RediWheels and...",NaN,False
6,7,2,"ramp, restroom, disabled_parking, wheelchair",NaN,NaN,Rosener House is a day center for older adults...,NaN,"Spanish, Tagalog, Vietnamese",37.444178,-122.183093,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,False
7,8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.448020,-122.180591,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,False
8,9,3,"ramp, restroom, wheelchair",NaN,NaN,"Provides general reading material, including b...",NaN,Spanish,37.478502,-122.214143,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,False
9,10,3,"elevator, tape_braille, ramp, restroom, disabl...",NaN,NaN,"Provides general reading and media materials, ...",NaN,Spanish,37.483842,-122.227395,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,False
10,11,3,ramp,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.466553,-122.243090,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,False
11,12,3,"disabled_parking, elevator, ramp, restroom",ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.483842,-122.227395,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,False
12,13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.530423,-122.258643,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,False
13,14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.491386,-122.231568,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,False
14,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.748899,-122.420367,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,False
15,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.356900,-122.060002,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,False
16,17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.644590,-122.422491,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,False
17,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

In [7]:
df_locations.columns

Index(['id', 'organization_id', 'accessibility', 'admin_emails',
       'alternate_name', 'description', 'email', 'languages', 'latitude',
       'longitude', 'name', 'short_desc', 'transportation', 'website',
       'virtual'],
      dtype='object')

In [8]:
df_locations.dtypes

id                   int64
organization_id      int64
accessibility       object
admin_emails        object
alternate_name      object
description         object
email               object
languages           object
latitude           float64
longitude          float64
name                object
short_desc          object
transportation      object
website             object
virtual               bool
dtype: object

In [9]:
df_locations[["id","accessibility"]]

    id                                      accessibility
0    1       disabled_parking, ramp, restroom, wheelchair
1    2                                         wheelchair
2    3                                                NaN
3    4                                         wheelchair
4    5                                         wheelchair
5    6                       disabled_parking, wheelchair
6    7       ramp, restroom, disabled_parking, wheelchair
7    8                                                NaN
8    9                         ramp, restroom, wheelchair
9   10  elevator, tape_braille, ramp, restroom, disabl...
10  11                                               ramp
11  12         disabled_parking, elevator, ramp, restroom
12  13                                                NaN
13  14                                         wheelchair
14  15                                         wheelchair
15  16                                                NaN
16  17                                         wheelchair
17  18                           cd, restroom, wheelchair
18  19                         elevator, ramp, wheelchair
19  20                                                NaN
20  21                                 elevator, restroom
21  22             disabled_parking, restroom, wheelchair

In [16]:
df_books = pd.read_excel("D:\lh_data\ineuron\\Book1.xlsx", sheet_name=0)
df_books

     name                 email   address  pincode    surname
0   mario   rivillasm@gmail.com   calgary   560080   rivillas
1  mario1  rivillasm1@gmail.com  calgary1   560081  rivillas1
2  mario2  rivillasm2@gmail.com  calgary2   560082  rivillas2
3  mario3  rivillasm3@gmail.com  calgary3   560083  rivillas3

In [17]:
df_books = pd.read_excel("D:\lh_data\ineuron\\Book1.xlsx", sheet_name=1)
df_books

       name                email    address  pincode        surname
0   diliara   dkhairou@gmail.com   edmonton   560080   khairoullina
1  diliara1  dkhairou1@gmail.com  edmonton1   560081  khairoullina1
2  diliara2  dkhairou2@gmail.com  edmonton2   560082  khairoullina2
3  diliara3  dkhairou3@gmail.com  edmonton3   560083  khairoullina3

In [20]:
df = pd.ExcelFile("D:\lh_data\ineuron\Book1.xlsx")    # find out the sheets available
df.sheet_names

['Sheet1', 'Sheet2']

In [23]:
for i in df.sheet_names:
    df_books_all = pd.read_excel("D:\lh_data\ineuron\\Book1.xlsx", sheet_name=i)

df_books_all

       name                email    address  pincode        surname
0   diliara   dkhairou@gmail.com   edmonton   560080   khairoullina
1  diliara1  dkhairou1@gmail.com  edmonton1   560081  khairoullina1
2  diliara2  dkhairou2@gmail.com  edmonton2   560082  khairoullina2
3  diliara3  dkhairou3@gmail.com  edmonton3   560083  khairoullina3

In [25]:
df_books_all = pd.read_excel("D:\lh_data\ineuron\\Book1.xlsx", sheet_name=None)
print(type(df_books_all))
df_books_all

<class 'dict'>

{'Sheet1':      name                 email   address  pincode    surname
 0   mario   rivillasm@gmail.com   calgary   560080   rivillas
 1  mario1  rivillasm1@gmail.com  calgary1   560081  rivillas1
 2  mario2  rivillasm2@gmail.com  calgary2   560082  rivillas2
 3  mario3  rivillasm3@gmail.com  calgary3   560083  rivillas3,
 'Sheet2':        name                email    address  pincode        surname
 0   diliara   dkhairou@gmail.com   edmonton   560080   khairoullina
 1  diliara1  dkhairou1@gmail.com  edmonton1   560081  khairoullina1
 2  diliara2  dkhairou2@gmail.com  edmonton2   560082  khairoullina2
 3  diliara3  dkhairou3@gmail.com  edmonton3   560083  khairoullina3}

In [26]:
df_books_all.keys()

dict_keys(['Sheet1', 'Sheet2'])

In [27]:
df_books_all.values()

dict_values([     name                 email   address  pincode    surname
0   mario   rivillasm@gmail.com   calgary   560080   rivillas
1  mario1  rivillasm1@gmail.com  calgary1   560081  rivillas1
2  mario2  rivillasm2@gmail.com  calgary2   560082  rivillas2
3  mario3  rivillasm3@gmail.com  calgary3   560083  rivillas3,        name                email    address  pincode        surname
0   diliara   dkhairou@gmail.com   edmonton   560080   khairoullina
1  diliara1  dkhairou1@gmail.com  edmonton1   560081  khairoullina1
2  diliara2  dkhairou2@gmail.com  edmonton2   560082  khairoullina2
3  diliara3  dkhairou3@gmail.com  edmonton3   560083  khairoullina3])

In [28]:
df_books_all["Sheet1"]

     name                 email   address  pincode    surname
0   mario   rivillasm@gmail.com   calgary   560080   rivillas
1  mario1  rivillasm1@gmail.com  calgary1   560081  rivillas1
2  mario2  rivillasm2@gmail.com  calgary2   560082  rivillas2
3  mario3  rivillasm3@gmail.com  calgary3   560083  rivillas3

In [31]:
# READING HTML - extracts only the tabular data from the link, no tabular data is not being extracted
#
df = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [34]:
df1 = df[0]
df1.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [39]:
(df1.dtypes)

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [40]:
df1.to_csv("test.cvs",index=False)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [57]:
# string in json format
d_json = """{"name":"mario rivillas",
    "emailid":"rivillasm@gmail.com",
    "tech":["ML","DL","CV","BD","DA"],
    "plateform":["techneuron","kidsneuron","ineuron"]}"""

In [58]:
import json

# JSONVIEWER ONLINE TO VALIDATE

In [60]:
result = json.loads(d_json)
result    # in form of a dictionary

{'name': 'mario rivillas',
 'emailid': 'rivillasm@gmail.com',
 'tech': ['ML', 'DL', 'CV', 'BD', 'DA'],
 'plateform': ['techneuron', 'kidsneuron', 'ineuron']}

In [61]:
# dataframe from stringt
d = {"name":"mario rivillas",
    "emailid":"rivillasm@gmail.com",
    "tech":["ML","DL","CV"],
    "plateform":["techneuron","kidsneuron","ineuron"]}

f_dict = pd.DataFrame(d)
f_dict

             name              emailid tech   plateform
0  mario rivillas  rivillasm@gmail.com   ML  techneuron
1  mario rivillas  rivillasm@gmail.com   DL  kidsneuron
2  mario rivillas  rivillasm@gmail.com   CV     ineuron

In [62]:
shoes = [
{ "id": 1, "name": "Air Force 1 Mid Casual", "brand": "Nike", "in_stock": True },
{ "id": 2, "name": "Blazer Mid '77 Casual", "brand": "Nike", "in_stock": True },
{ "id": 3, "name": "One Take Basketball Shoes", "brand": "Jordan", "in_stock": False }
]
shoes

[{'id': 1,
  'name': 'Air Force 1 Mid Casual',
  'brand': 'Nike',
  'in_stock': True},
 {'id': 2, 'name': "Blazer Mid '77 Casual", 'brand': 'Nike', 'in_stock': True},
 {'id': 3,
  'name': 'One Take Basketball Shoes',
  'brand': 'Jordan',
  'in_stock': False}]

In [66]:
del(shoes[0]["brand"])  # deleting an item from a dictionary

In [67]:
shoes

[{'id': 1, 'name': 'Air Force 1 Mid Casual', 'in_stock': True},
 {'id': 2, 'name': "Blazer Mid '77 Casual", 'brand': 'Nike', 'in_stock': True},
 {'id': 3,
  'name': 'One Take Basketball Shoes',
  'brand': 'Jordan',
  'in_stock': False}]

# EXAMPLE

In [69]:
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [77]:
df = pd.read_json(url)
df.head(5)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46209,1157875795,PR_kwDOAA0YD84z3TEH,46209,BUG: Fix some cases of groupby(...).transform ...,...,2022-03-03 01:51:27+00:00,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Part of #17093\r\n- [x] [Tests added and passe...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46208,1157835973,PR_kwDOAA0YD84z3LD4,46208,PERF: avoid object dtype cast for Categorical ...,...,2022-03-03 00:31:41+00:00,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46207,1157819010,PR_kwDOAA0YD84z3HeN,46207,REF: Move Categorical logic from Grouping (#46...,...,2022-03-03 01:23:56+00:00,NaT,NONE,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #46203 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46205,1157652834,I_kwDOAA0YD85FAGFi,46205,DOC: provide detailed information about buildi...,...,2022-03-02 20:22:15+00:00,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46204,1157540646,PR_kwDOAA0YD84z2Mzr,46204,"PERF: avoid copies in frame[col].fillna(val, i...",...,2022-03-03 00:26:58+00:00,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #46149\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN

In [78]:
import requests

In [79]:
data = requests.get(url)   # load all the data from a url
data

In [82]:
data1 = data.json()   # show the data into a json format
data1

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46209',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46209/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46209/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46209/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46209',
  'id': 1157875795,
  'node_id': 'PR_kwDOAA0YD84z3TEH',
  'number': 46209,
  'title': 'BUG: Fix some cases of groupby(...).transform with dropna=True',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 233160,
    'node_id': 'MDU6TGFiZWwyMzMxNjA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby',
    'name': 'Groupby',
    'color': '729FCF',
    'default': False,
    'description': None},
   {'id': 697792067,
    'node_id': 'MDU6TGFiZWw2OTc3OTIwNjc=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Apply',
    'name': 'Apply',
    'color': 'fbca04',
    'default': False,
    'description': 'Apply, Aggregate, Transform'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-03T01:48:05Z',
  'updated_at': '2022-03-03T01:51:27Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46209',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46209',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46209.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46209.patch',
   'merged_at': None},
  'body': 'Part of #17093\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [x] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nThe added xfails will pass when other parts of #45839 are merged.',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46209/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46209/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46208',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46208/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46208/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46208/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46208',
  'id': 1157835973,
  'node_id': 'PR_kwDOAA0YD84z3LD4',
  'number': 46208,
  'title': 'PERF: avoid object dtype cast for Categorical in _ensure_data',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-03T00:31:41Z',
  'updated_at': '2022-03-03T00:31:41Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46208',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46208',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46208.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46208.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the Github issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46208/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46208/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46207',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46207/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46207/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46207/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46207',
  'id': 1157819010,
  'node_id': 'PR_kwDOAA0YD84z3HeN',
  'number': 46207,
  'title': 'REF: Move Categorical logic from Grouping (#46203)',
  'user': {'login': 'NickCrews',
   'id': 10820686,
   'node_id': 'MDQ6VXNlcjEwODIwNjg2',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10820686?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/NickCrews',
   'html_url': 'https://github.com/NickCrews',
   'followers_url': 'https://api.github.com/users/NickCrews/followers',
   'following_url': 'https://api.github.com/users/NickCrews/following{/other_user}',
   'gists_url': 'https://api.github.com/users/NickCrews/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/NickCrews/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/NickCrews/subscriptions',
   'organizations_url': 'https://api.github.com/users/NickCrews/orgs',
   'repos_url': 'https://api.github.com/users/NickCrews/repos',
   'events_url': 'https://api.github.com/users/NickCrews/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/NickCrews/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-03T00:04:28Z',
  'updated_at': '2022-03-03T01:23:56Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': True,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46207',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46207',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46207.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46207.patch',
   'merged_at': None},
  'body': '- [x] closes #46203 (Replace xxxx with the Github issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46207/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46207/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46205',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46205/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46205/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46205/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46205',
  'id': 1157652834,
  'node_id': 'I_kwDOAA0YD85FAGFi',
  'number': 46205,
  'title': 'DOC: provide detailed information about building the C extensions (development environment)',
  'user': {'login': 'rendner',
   'id': 414652,
   'node_id': 'MDQ6VXNlcjQxNDY1Mg==',
   'avatar_url': 'https://avatars.githubusercontent.com/u/414652?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rendner',
   'html_url': 'https://github.com/rendner',
   'followers_url': 'https://api.github.com/users/rendner/followers',
   'following_url': 'https://api.github.com/users/rendner/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rendner/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rendner/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rendner/subscriptions',
   'organizations_url': 'https://api.github.com/users/rendner/orgs',
   'repos_url': 'https://api.github.com/users/rendner/repos',
   'events_url': 'https://api.github.com/users/rendner/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rendner/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-02T20:22:15Z',
  'updated_at': '2022-03-02T20:22:15Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)\n\n\n### Location of the documentation\n\nhttps://pandas.pydata.org/docs/development/contributing_environment.html#creating-a-development-environment\n\n### Documentation problem\n\nTo setup a local development environment the user has to build the C extensions.\r\nThe current description contains minimal information about how to build the C extensions.\r\n\r\nThe information has already been expanded somewhat in PR #46055, but it would be helpful to provide more detailed information.\n\n### Suggested fix for documentation\n\nExtract the already existing information into a separate section.\r\nIn addition, the new section should provide the user with more detailed information on the following questions:\r\n\r\n- Why do these need to be build?\r\n- How to build?\r\n- When do they need to be build or rebuild? \r\n\r\nThe existing sections [Creating an environment using Docker](https://pandas.pydata.org/docs/development/contributing_environment.html#creating-an-environment-using-docker) and [Creating an environment without Docker](https://pandas.pydata.org/docs/development/contributing_environment.html#creating-an-environment-without-docker) should then refer to the newly created section.',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46205/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46205/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46204',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46204/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46204/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46204/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46204',
  'id': 1157540646,
  'node_id': 'PR_kwDOAA0YD84z2Mzr',
  'number': 46204,
  'title': 'PERF: avoid copies in frame[col].fillna(val, inplace=True) GH#46149',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-02T18:20:11Z',
  'updated_at': '2022-03-03T00:26:58Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46204',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46204',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46204.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46204.patch',
   'merged_at': None},
  'body': '- [x] closes #46149\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46204/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46204/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46203',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46203/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46203/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46203/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46203',
  'id': 1157500304,
  'node_id': 'I_kwDOAA0YD85E_g2Q',
  'number': 46203,
  'title': 'REF: Refactor `Grouping` class to use delegates/polymorphism',
  'user': {'login': 'NickCrews',
   'id': 10820686,
   'node_id': 'MDQ6VXNlcjEwODIwNjg2',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10820686?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/NickCrews',
   'html_url': 'https://github.com/NickCrews',
   'followers_url': 'https://api.github.com/users/NickCrews/followers',
   'following_url': 'https://api.github.com/users/NickCrews/following{/other_user}',
   'gists_url': 'https://api.github.com/users/NickCrews/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/NickCrews/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/NickCrews/subscriptions',
   'organizations_url': 'https://api.github.com/users/NickCrews/orgs',
   'repos_url': 'https://api.github.com/users/NickCrews/repos',
   'events_url': 'https://api.github.com/users/NickCrews/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/NickCrews/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2022-03-02T17:39:53Z',
  'updated_at': '2022-03-03T00:10:27Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,

In [85]:
data1[0]["user"]["id"]

45562402

In [86]:
len(data1)

30

In [91]:
for i in range(len(data1)):
    print(i, data1[i]["user"]["id"])

0 45562402
1 8078968
2 10820686
3 414652
4 8078968
5 10820686
6 100778886
7 36619387
8 36619387
9 8078968
10 8078968
11 46936498
12 51996504
13 25440862
14 5902745
15 4156237
16 100502242
17 10540830
18 10297014
19 15113894
20 36619387
21 8011761
22 8519523
23 36619387
24 8519523
25 4667801
26 7980666
27 8179126
28 6145801
29 10647082

In [105]:
df_json_csv = pd.DataFrame(data1, columns=["id","user","url","repository_url","labels_url"])

In [106]:
type(df_json_csv)

pandas.core.frame.DataFrame

In [107]:
df_json_csv.to_csv("json.csv")

In [109]:
df_json_csv.user[0]

{'login': 'rhshadrach',
 'id': 45562402,
 'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
 'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/rhshadrach',
 'html_url': 'https://github.com/rhshadrach',
 'followers_url': 'https://api.github.com/users/rhshadrach/followers',
 'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
 'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
 'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
 'repos_url': 'https://api.github.com/users/rhshadrach/repos',
 'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
 'type': 'User',
 'site_admin': False}

In [114]:
len(df_json_csv.user[0].keys())

18

In [113]:
df_json_csv.user[29]

{'login': 'mroeschke',
 'id': 10647082,
 'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
 'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/mroeschke',
 'html_url': 'https://github.com/mroeschke',
 'followers_url': 'https://api.github.com/users/mroeschke/followers',
 'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
 'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
 'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
 'repos_url': 'https://api.github.com/users/mroeschke/repos',
 'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
 'type': 'User',
 'site_admin': False}

In [115]:
len(df_json_csv.user[29].keys())

18

In [116]:
_keys=(df_json_csv.user[29].keys())
_keys

dict_keys(['login', 'id', 'node_id', 'avatar_url', 'gravatar_id', 'url', 'html_url', 'followers_url', 'following_url', 'gists_url', 'starred_url', 'subscriptions_url', 'organizations_url', 'repos_url', 'events_url', 'received_events_url', 'type', 'site_admin'])

In [117]:
df_json_csv.columns

Index(['id', 'user', 'url', 'repository_url', 'labels_url'], dtype='object')

In [138]:
test = df_json_csv.copy()
for i in range(test.shape[0]):
    for _key in _keys:
        #print(i,_key)
        name = "loging_"+_key
        test.loc[test.index[i],name]=test.user[i][_key]

In [139]:
test.columns

Index(['id', 'user', 'url', 'repository_url', 'labels_url', 'loging_login',
       'loging_id', 'loging_node_id', 'loging_avatar_url',
       'loging_gravatar_id', 'loging_url', 'loging_html_url',
       'loging_followers_url', 'loging_following_url', 'loging_gists_url',
       'loging_starred_url', 'loging_subscriptions_url',
       'loging_organizations_url', 'loging_repos_url', 'loging_events_url',
       'loging_received_events_url', 'loging_type', 'loging_site_admin'],
      dtype='object')

In [141]:
test.head()

,id,user,url,repository_url,labels_url,loging_login,loging_id,loging_node_id,loging_avatar_url,loging_gravatar_id,...,loging_following_url,loging_gists_url,loging_starred_url,loging_subscriptions_url,loging_organizations_url,loging_repos_url,loging_events_url,loging_received_events_url,loging_type,loging_site_admin
0,1157875795,"{'login': 'rhshadrach', 'id': 45562402, 'node_...",https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,rhshadrach,45562402.0,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,...,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,False
1,1157835973,"{'login': 'jbrockmendel', 'id': 8078968, 'node...",https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,jbrockmendel,8078968.0,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
2,1157819010,"{'login': 'NickCrews', 'id': 10820686, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,NickCrews,10820686.0,MDQ6VXNlcjEwODIwNjg2,https://avatars.githubusercontent.com/u/108206...,,...,https://api.github.com/users/NickCrews/followi...,https://api.github.com/users/NickCrews/gists{/...,https://api.github.com/users/NickCrews/starred...,https://api.github.com/users/NickCrews/subscri...,https://api.github.com/users/NickCrews/orgs,https://api.github.com/users/NickCrews/repos,https://api.github.com/users/NickCrews/events{...,https://api.github.com/users/NickCrews/receive...,User,False
3,1157652834,"{'login': 'rendner', 'id': 414652, 'node_id': ...",https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,rendner,414652.0,MDQ6VXNlcjQxNDY1Mg==,https://avatars.githubusercontent.com/u/414652...,,...,https://api.github.com/users/rendner/following...,https://api.github.com/users/rendner/gists{/gi...,https://api.github.com/users/rendner/starred{/...,https://api.github.com/users/rendner/subscript...,https://api.github.com/users/rendner/orgs,https://api.github.com/users/rendner/repos,https://api.github.com/users/rendner/events{/p...,https://api.github.com/users/rendner/received_...,User,False
4,1157540646,"{'login': 'jbrockmendel', 'id': 8078968, 'node...",https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,jbrockmendel,8078968.0,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False

# New Dataset

In [143]:

df = pd.read_csv("D:\\lh_data\\ineuron\\titanic.txt")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [144]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [145]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [148]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [157]:
df.dtypes[df.dtypes == 'object']  # outputs the index of the series df.dtypes

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [159]:
cat_columns = df.dtypes[df.dtypes == 'object'].index  # outputs the index of the series df.dtypes

In [161]:
df[cat_columns]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [162]:
df[cat_columns].describe()   # describe for cathegorical variables

                       Name   Sex Ticket        Cabin Embarked
count                   891   891    891          204      889
unique                  891     2    681          147        3
top     Windelov, Mr. Einar  male   1601  C23 C25 C27        S
freq                      1   577      7            4      644

In [173]:
len(df[df['Age'].isnull()==True].index)

177

In [175]:
df[df['Age'].isnull()==True]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [177]:
df[df['Fare']==max(df['Fare'])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C

In [196]:
print(f" {df[df.Sex=='female'].shape[0]} females survived from a total of {len(df.Sex)} pasangers")

 314 females survived from a total of 891 pasangers

In [197]:
print(f" {df[df.Sex=='male'].shape[0]} females survived from a total of {len(df.Sex)} pasangers")

 577 females survived from a total of 891 pasangers

In [195]:
print(f" {len(df[df.Survived==True])} people survived from a total of {len(df.Survived)} pasangers")

 342 people survived from a total of 891 pasangers

In [198]:
print(f" {len(df[df.Survived==False])} people died from a total of {len(df.Survived)} pasangers")

 549 people died from a total of 891 pasangers

In [220]:
print(f" Oldest person in the titanic was {max(df.Age)} year old and his name was: {df[df.Age == max(df.Age)].Name.values[0]}")

 Oldest person in the titanic was 80.0 year old and his name was: Barkworth, Mr. Algernon Henry Wilson

In [223]:
print(f" first class : {len(df[df.Pclass == 1])} passangers")
print(f" second class : {len(df[df.Pclass == 2])} passangers")
print(f" third class : {len(df[df.Pclass == 3])} passangers")

 first class : 216 passangers
 second class : 184 passangers
 third class : 491 passangers

In [ ]:
print(f" first class : {len(df[df.Name[0] == "s"])} passangers")

In [234]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [253]:
print(f" amount of passangers whose name started with 'S' : {len(df.Name[df.Name.str.startswith('S')])}")

 amount of passangers whose name started with 'S' : 86

In [255]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [260]:
df['S+P']=df.SibSp + df.Parch
df[['SibSp','Parch','S+P']]

     SibSp  Parch  S+P
0        1      0    1
1        1      0    1
2        0      0    0
3        1      0    1
4        0      0    0
..     ...    ...  ...
886      0      0    0
887      0      0    0
888      1      2    3
889      0      0    0
890      0      0    0

[891 rows x 3 columns]

In [261]:
df.Cabin

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [262]:
result = df.Cabin.str.extract('([a-zA-Z]+)([^a-zA-Z]+)', expand=True)
result

       0    1
0    NaN  NaN
1      C   85
2    NaN  NaN
3      C  123
4    NaN  NaN
..   ...  ...
886  NaN  NaN
887    B   42
888  NaN  NaN
889    C  148
890  NaN  NaN

[891 rows x 2 columns]

In [266]:
df['Cabin_text']=df.Cabin.str.extract('([a-zA-Z]+)', expand=True)
df['Cabin_number']=df.Cabin.str.extract('([^a-zA-Z]+)', expand=True)
df[['Cabin','Cabin_text','Cabin_number']]

    Cabin Cabin_text Cabin_number
0     NaN        NaN          NaN
1     C85          C           85
2     NaN        NaN          NaN
3    C123          C          123
4     NaN        NaN          NaN
..    ...        ...          ...
886   NaN        NaN          NaN
887   B42          B           42
888   NaN        NaN          NaN
889  C148          C          148
890   NaN        NaN          NaN

[891 rows x 3 columns]

# another dataset

In [267]:
df1 = pd.read_csv("D:\\lh_data\\ineuron\\bank\\bank.csv", sep=";")
df1

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [269]:
df1.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [273]:
print(f" how many campaign available : {len(set(df1.campaign))}")

 how many campaign available : 32

In [294]:
print(f" how many users have housing and personal loans ")
print(f' {len(df1[(df1["housing"]=="yes") & (df1["loan"]=="yes")])} users have housing and loans')

 how many users have housing and personal loans
 406 users have housing and loans

In [297]:
print(f' there are {len(df1[(df1["age"]>60)])} persons older than 60 years ')

 there are 127 persons older than 60 years

In [302]:
print(f" {df1['month'].value_counts().idxmax()} is the month that we targeted most of the customers")

 may is the month that we targeted most of the customers

In [305]:
print(f" {df1.contact.value_counts().idxmax()} is the month that we targeted most of the customers")

 cellular is the month that we targeted most of the customers

In [299]:
df1['month'].value_counts().idxmax()

'may'

In [308]:
print(f" {len(df1[df1['balance']<0])} customers with negative balances")

 366 customers with negative balances

In [310]:
set(df1.education)

{'primary', 'secondary', 'tertiary', 'unknown'}

In [312]:
df1[df1.education=="primary"]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4480,23,blue-collar,married,primary,no,1158,yes,no,cellular,16,apr,743,1,-1,0,unknown,no
4485,53,blue-collar,married,primary,no,238,yes,no,cellular,11,may,238,2,361,5,failure,no
4486,37,blue-collar,married,primary,no,378,yes,no,unknown,9,may,514,1,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes

In [320]:
#edu_levels=list(set(df1.education))
edu_levels=df1.education.unique()
edu_levels

array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object)

In [321]:
edu_dict = {level : pd.DataFrame() for level in edu_levels}
edu_dict

{'primary': Empty DataFrame
 Columns: []
 Index: [], 'secondary': Empty DataFrame
 Columns: []
 Index: [], 'tertiary': Empty DataFrame
 Columns: []
 Index: [], 'unknown': Empty DataFrame
 Columns: []
 Index: []}

In [338]:
for key in edu_dict.keys():
    print(key)
    edu_dict[key] = df1[:][df1.education==key]
    print(edu_dict[key].head(3))

primary
    age          job  marital education default  balance housing loan  \
0    30   unemployed  married   primary      no     1787      no   no
9    43     services  married   primary      no      -88     yes  yes
18   25  blue-collar   single   primary      no     -221     yes   no

     contact  day month  duration  campaign  pdays  previous poutcome   y
0   cellular   19   oct        79         1     -1         0  unknown  no
9   cellular   17   apr       313         1    147         2  failure  no
18   unknown   23   may       250         1     -1         0  unknown  no
secondary
   age          job  marital  education default  balance housing loan  \
1   33     services  married  secondary      no     4789     yes  yes
4   59  blue-collar  married  secondary      no        0     yes   no
7   39   technician  married  secondary      no      147     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome   y
1  cellular   11   may       220         1    339         4  failure  no
4   unknown    5   may       226         1     -1         0  unknown  no
7  cellular    6   may       151         2     -1         0  unknown  no
tertiary
   age         job  marital education default  balance housing loan   contact  \
2   35  management   single  tertiary      no     1350     yes   no  cellular
3   30  management  married  tertiary      no     1476     yes  yes   unknown
5   35  management   single  tertiary      no      747      no   no  cellular

   day month  duration  campaign  pdays  previous poutcome   y
2   16   apr       185         1    330         1  failure  no
3    3   jun       199         4     -1         0  unknown  no
5   23   feb       141         2    176         3  failure  no
unknown
    age         job   marital education default  balance housing loan  \
20   38  management  divorced   unknown      no        0     yes   no
27   67     retired   married   unknown      no      696      no   no
49   61      admin.   married   unknown      no     4629     yes   no

      contact  day month  duration  campaign  pdays  previous poutcome    y
20   cellular   18   nov        96         2     -1         0  unknown   no
27  telephone   17   aug       119         1    105         2  failure   no
49   cellular   27   jan       181         1     92         1  success  yes

In [334]:
edu_dict["primary"].head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes

In [336]:
edu_dict["secondary"].head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no

In [337]:
edu_dict["tertiary"].head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no