# Basic regression: Predict fuel efficiency

### Statement:
In a regression problem, the aim is to predict the output of a continuous value, like a price or a probability. Contrast this with a classification problem, where the aim is to select a class from a list of classes (for example, where a picture contains an apple or an orange, recognizing which fruit is in the picture).

This tutorial uses the classic Auto MPG dataset and demonstrates how to build models to predict the fuel efficiency of the late-1970s and early 1980s automobiles. To do this, you will provide the models with a description of many automobiles from that time period. This description includes attributes like cylinders, displacement, horsepower, and weight.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# Make NumPy printouts easier to read.
np.set_printoptions(precision=3, suppress=True)

In [3]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

2.4.1

In [4]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
column_names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
                'Acceleration', 'Model Year', 'Origin']

In [5]:
raw_dataset = pd.read_csv(url, names=column_names, na_values='?', comment='\t', sep=' ', skipinitialspace=True)
raw_dataset

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [6]:
dataset = raw_dataset.copy()
dataset.tail(50)

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
348,37.7,4,89.0,62.0,2050.0,17.3,81,3
349,34.1,4,91.0,68.0,1985.0,16.0,81,3
350,34.7,4,105.0,63.0,2215.0,14.9,81,1
351,34.4,4,98.0,65.0,2045.0,16.2,81,1
352,29.9,4,98.0,65.0,2380.0,20.7,81,1
353,33.0,4,105.0,74.0,2190.0,14.2,81,2
354,34.5,4,100.0,NaN,2320.0,15.8,81,2
355,33.7,4,107.0,75.0,2210.0,14.4,81,3
356,32.4,4,108.0,75.0,2350.0,16.8,81,3
357,32.9,4,119.0,100.0,2615.0,14.8,81,3
358,31.6,4,120.0,74.0,2635.0,18.3,81,3
359,28.1,4,141.0,80.0,3230.0,20.4,81,2
360,30.7,6,145.0,76.0,3160.0,19.6,81,2
361,25.4,6,168.0,116.0,2900.0,12.6,81,3
362,24.2,6,146.0,120.0,2930.0,13.8,81,3
363,22.4,6,231.0,110.0,3415.0,15.8,81,1
364,26.6,8,350.0,105.0,3725.0,19.0,81,1
365,20.2,6,200.0,88.0,3060.0,17.1,81,1
366,17.6,6,225.0,85.0,3465.0,16.6,81,1
367,28.0,4,112.0,88.0,2605.0,19.6,82,1
368,27.0,4,112.0,88.0,2640.0,18.6,82,1
369,34.0,4,112.0,88.0,2395.0,18.0,82,1
370,31.0,4,112.0,85.0,2575.0,16.2,82,1
371,29.0,4,135.0,84.0,2525.0,16.0,82,1
372,27.0,4,151.0,90.0,2735.0,18.0,82,1
373,24.0,4,140.0,92.0,2865.0,16.4,82,1
374,23.0,4,151.0,NaN,3035.0,20.5,82,1
375,36.0,4,105.0,74.0,1980.0,15.3,82,2
376,37.0,4,91.0,68.0,2025.0,18.2,82,3
377,31.0,4,91.0,68.0,1970.0,17.6,82,3
378,38.0,4,105.0,63.0,2125.0,14.7,82,1
379,36.0,4,98.0,70.0,2125.0,17.3,82,1
380,36.0,4,120.0,88.0,2160.0,14.5,82,3
381,36.0,4,107.0,75.0,2205.0,14.5,82,3
382,34.0,4,108.0,70.0,2245.0,16.9,82,3
383,38.0,4,91.0,67.0,1965.0,15.0,82,3
384,32.0,4,91.0,67.0,1965.0,15.7,82,3
385,38.0,4,91.0,67.0,1995.0,16.2,82,3
386,25.0,6,181.0,110.0,2945.0,16.4,82,1
387,38.0,6,262.0,85.0,3015.0,17.0,82,1
388,26.0,4,156.0,92.0,2585.0,14.5,82,1
389,22.0,6,232.0,112.0,2835.0,14.7,82,1
390,32.0,4,144.0,96.0,2665.0,13.9,82,3
391,36.0,4,135.0,84.0,2370.0,13.0,82,1
392,27.0,4,151.0,90.0,2950.0,17.3,82,1
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

# Cleaning data

In [7]:
dataset.isna().sum()  # QC missing values

MPG             0
Cylinders       0
Displacement    0
Horsepower      6
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

In [8]:
dataset = dataset.dropna()  # drop na rows
dataset.isna().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           392 non-null    float64
 1   Cylinders     392 non-null    int64
 2   Displacement  392 non-null    float64
 3   Horsepower    392 non-null    float64
 4   Weight        392 non-null    float64
 5   Acceleration  392 non-null    float64
 6   Model Year    392 non-null    int64
 7   Origin        392 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 27.6 KB

In [10]:
dataset["Origin"] = dataset.Origin.map({1:"USA",2:"Europe",3:"Japan"})  # origin is categorical and not numerical
dataset.head(25)

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,USA
1,15.0,8,350.0,165.0,3693.0,11.5,70,USA
2,18.0,8,318.0,150.0,3436.0,11.0,70,USA
3,16.0,8,304.0,150.0,3433.0,12.0,70,USA
4,17.0,8,302.0,140.0,3449.0,10.5,70,USA
5,15.0,8,429.0,198.0,4341.0,10.0,70,USA
6,14.0,8,454.0,220.0,4354.0,9.0,70,USA
7,14.0,8,440.0,215.0,4312.0,8.5,70,USA
8,14.0,8,455.0,225.0,4425.0,10.0,70,USA
9,15.0,8,390.0,190.0,3850.0,8.5,70,USA
10,15.0,8,383.0,170.0,3563.0,10.0,70,USA
11,14.0,8,340.0,160.0,3609.0,8.0,70,USA
12,15.0,8,400.0,150.0,3761.0,9.5,70,USA
13,14.0,8,455.0,225.0,3086.0,10.0,70,USA
14,24.0,4,113.0,95.0,2372.0,15.0,70,Japan
15,22.0,6,198.0,95.0,2833.0,15.5,70,USA
16,18.0,6,199.0,97.0,2774.0,15.5,70,USA
17,21.0,6,200.0,85.0,2587.0,16.0,70,USA
18,27.0,4,97.0,88.0,2130.0,14.5,70,Japan
19,26.0,4,97.0,46.0,1835.0,20.5,70,Europe
20,25.0,4,110.0,87.0,2672.0,17.5,70,Europe
21,24.0,4,107.0,90.0,2430.0,14.5,70,Europe
22,25.0,4,104.0,95.0,2375.0,17.5,70,Europe
23,26.0,4,121.0,113.0,2234.0,12.5,70,Europe
24,21.0,6,199.0,90.0,2648.0,15.0,70,USA

In [11]:
set(dataset.Origin)

{'Europe', 'Japan', 'USA'}

In [12]:
dataset.isna().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

In [13]:
dataset

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,USA
1,15.0,8,350.0,165.0,3693.0,11.5,70,USA
2,18.0,8,318.0,150.0,3436.0,11.0,70,USA
3,16.0,8,304.0,150.0,3433.0,12.0,70,USA
4,17.0,8,302.0,140.0,3449.0,10.5,70,USA
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,USA
394,44.0,4,97.0,52.0,2130.0,24.6,82,Europe
395,32.0,4,135.0,84.0,2295.0,11.6,82,USA
396,28.0,4,120.0,79.0,2625.0,18.6,82,USA
397,31.0,4,119.0,82.0,2720.0,19.4,82,USA

In [14]:
# categorical to numerical - pandas dummies

dataset = pd.get_dummies(dataset, columns = ["Origin"], prefix='', prefix_sep='')
dataset

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Europe,Japan,USA
0,18.0,8,307.0,130.0,3504.0,12.0,70,0,0,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,0,0,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,0,0,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,0,0,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,0,0,1
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,0,0,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,1,0,0
395,32.0,4,135.0,84.0,2295.0,11.6,82,0,0,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,0,0,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,0,0,1