### NUMPY

In [90]:
import numpy as np

In [91]:
np.array(["mario",2,3])  # List to array

array(['mario', '2', '3'], dtype='<U5')

In [92]:
np.array([[1,2],[3,4]])  # array[[i1,j1][i2,j2]] 2D

array([[1, 2],
       [3, 4]])

In [93]:
np.array([1,2,3], ndmin=5)  # 5D array

array([[[[[1, 2, 3]]]]])

In [94]:
np.array([1,2,3], dtype=complex)  # dtype

array([1.+0.j, 2.+0.j, 3.+0.j])

In [95]:
np.array([(1,2),(3,4)],dtype=[('a','<i2'),('b','<i8')]) # list of tuples into an array (a,b)
                                                        # <i2 integer16, <i8 = int64

array([(1, 2), (3, 4)], dtype=[('a', '<i2'), ('b', '<i8')])

In [96]:
n = np.array([[1,2],[3,4]])
n

array([[1, 2],
       [3, 4]])

In [97]:
n[0]

array([1, 2])

In [98]:
n[1][1]

4

### create an array from sub-classes:

In [99]:
np.mat(np.array([(1,2),(3,4)]))  # matrixes are a subclass of arrays

matrix([[1, 2],
        [3, 4]])

In [100]:
np.mat('1 2; 3 4')

matrix([[1, 2],
        [3, 4]])

In [101]:
a=[1,2]
np.asarray(a)

array([1, 2])

### asanyarray - converts into an array if the data is not in an array format

### np.array(A), np.asarray(A) both convert A into an array type 
### np.asanyarray(A) - converts A into an array type only if A is not an array already, otherwise does nothing

In [102]:
a = [1,2]
np.asanyarray(a)  # it converts to an array if a is not array, otherwise does nothing

array([1, 2])

In [103]:
a = np.matrix([1,2])
a

matrix([[1, 2]])

In [104]:
np.asanyarray(a)  # does nothing since a is already an matrix - subclass of an array.

matrix([[1, 2]])

In [105]:
a

matrix([[1, 2]])

In [106]:
np.array(a)  # converts a which is matrix into an array

array([[1, 2]])

In [107]:
np.asanyarray(a)  # does nothing since a is already an matrix - subclass of an array.

matrix([[1, 2]])

In [108]:
np.asarray(a) # converts a which is matrix into an array

array([[1, 2]])

### numpy.fromfunction - consturct an array by executing a function over each coordinate

In [109]:
np.fromfunction(lambda i, j: i==j, (3,3), dtype=int)

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [110]:
np.fromfunction(lambda i, j: i*j, (3,3), dtype=int)

array([[0, 0, 0],
       [0, 1, 2],
       [0, 2, 4]])

### fromiter - use a iterable object into an array

In [111]:
iterable = (x*x for x in range(5))
iterable

In [112]:
np.fromiter(iterable, float)

array([ 0.,  1.,  4.,  9., 16.])

In [113]:
np.fromstring('1, 2', dtype=int, sep=',')

array([1, 2])

## Data Types

In [114]:
import numpy as np
my_list = [1,2,3]
arr = np.array(my_list)
print(type(arr))
print("-"*25)
print(arr)

<class 'numpy.ndarray'>
-------------------------
[1 2 3]

In [115]:
my_list = [[1,2,3],[4,5,6],[7,8,9]]
arr = np.array(my_list)
print(type(arr))
print("-"*25)
print(arr)
print("Dimensions:", arr.ndim, sep='')
print("Size:", arr.size, sep='')
print("Shape:", arr.shape, sep='')
print("Data Type:", arr.dtype, sep='')

<class 'numpy.ndarray'>
-------------------------
[[1 2 3]
 [4 5 6]
 [7 8 9]]
Dimensions:2
Size:9
Shape:(3, 3)
Data Type:int32

### Arange and Linspace

In [116]:
range(4,10)

range(4, 10)

In [117]:
list(range(4,10))   # range functions always delas with inter data

[4, 5, 6, 7, 8, 9]

In [118]:
(np.arange(4,10))

array([4, 5, 6, 7, 8, 9])

In [119]:
(np.arange(4.5,10))  # numpy arange function works with floats without issues

array([4.5, 5.5, 6.5, 7.5, 8.5, 9.5])

In [120]:
np.linspace(1,5,50)

array([1.        , 1.08163265, 1.16326531, 1.24489796, 1.32653061,
       1.40816327, 1.48979592, 1.57142857, 1.65306122, 1.73469388,
       1.81632653, 1.89795918, 1.97959184, 2.06122449, 2.14285714,
       2.2244898 , 2.30612245, 2.3877551 , 2.46938776, 2.55102041,
       2.63265306, 2.71428571, 2.79591837, 2.87755102, 2.95918367,
       3.04081633, 3.12244898, 3.20408163, 3.28571429, 3.36734694,
       3.44897959, 3.53061224, 3.6122449 , 3.69387755, 3.7755102 ,
       3.85714286, 3.93877551, 4.02040816, 4.10204082, 4.18367347,
       4.26530612, 4.34693878, 4.42857143, 4.51020408, 4.59183673,
       4.67346939, 4.75510204, 4.83673469, 4.91836735, 5.        ])

In [121]:
np.zeros(5)  # vector of zeroes

array([0., 0., 0., 0., 0.])

In [122]:
np.zeros((3,4))  # matrix of zeroes

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [123]:
np.zeros((3,4,2))  # matrix of zeroes, 3 matrixes (4,2)

array([[[0., 0.],
        [0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.],
        [0., 0.]]])

In [124]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [125]:
np.eye(4)  # matrix 4x4 diagonal value only, always a square matrix

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [126]:
np.empty((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [127]:
np.linspace(2.0,3.0, num=5)

array([2.  , 2.25, 2.5 , 2.75, 3.  ])

In [128]:
np.linspace(2.0,3.0, num=5, retstep=True)

(array([2.  , 2.25, 2.5 , 2.75, 3.  ]), 0.25)

In [129]:
np.logspace(2.0,3.0,num=4)

array([ 100.        ,  215.443469  ,  464.15888336, 1000.        ])

In [130]:
np.logspace(2.0,3.0,num=4,base=5)

array([ 25.        ,  42.74939867,  73.10044346, 125.        ])

In [131]:
np.arange(16)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [132]:
np.arange(16).reshape(2,8)

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15]])

In [133]:
np.arange(16).reshape(-1,8)

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15]])

In [134]:
np.arange(16).reshape(2,8).ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [135]:
a = np.arange(24)
print(np.reshape(a, [4, 6], 'C'))

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]

In [136]:
print(np.reshape(a, [8, -1], 'C'))  # The length of the dimension set to -1 is automatically 
                                    # determined by inferring from the specified values of other dimensions.

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]
 [12 13 14]
 [15 16 17]
 [18 19 20]
 [21 22 23]]

In [137]:
np.zeros((3,4,8))+5*2

array([[[10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.]],

       [[10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.]],

       [[10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.]]])

In [138]:
np.linspace(4,8,80)

array([4.        , 4.05063291, 4.10126582, 4.15189873, 4.20253165,
       4.25316456, 4.30379747, 4.35443038, 4.40506329, 4.4556962 ,
       4.50632911, 4.55696203, 4.60759494, 4.65822785, 4.70886076,
       4.75949367, 4.81012658, 4.86075949, 4.91139241, 4.96202532,
       5.01265823, 5.06329114, 5.11392405, 5.16455696, 5.21518987,
       5.26582278, 5.3164557 , 5.36708861, 5.41772152, 5.46835443,
       5.51898734, 5.56962025, 5.62025316, 5.67088608, 5.72151899,
       5.7721519 , 5.82278481, 5.87341772, 5.92405063, 5.97468354,
       6.02531646, 6.07594937, 6.12658228, 6.17721519, 6.2278481 ,
       6.27848101, 6.32911392, 6.37974684, 6.43037975, 6.48101266,
       6.53164557, 6.58227848, 6.63291139, 6.6835443 , 6.73417722,
       6.78481013, 6.83544304, 6.88607595, 6.93670886, 6.98734177,
       7.03797468, 7.08860759, 7.13924051, 7.18987342, 7.24050633,
       7.29113924, 7.34177215, 7.39240506, 7.44303797, 7.49367089,
       7.5443038 , 7.59493671, 7.64556962, 7.69620253, 7.74683544,
       7.79746835, 7.84810127, 7.89873418, 7.94936709, 8.        ])

In [139]:
np.matrix(np.linspace(4,8,80))

matrix([[4.        , 4.05063291, 4.10126582, 4.15189873, 4.20253165,
         4.25316456, 4.30379747, 4.35443038, 4.40506329, 4.4556962 ,
         4.50632911, 4.55696203, 4.60759494, 4.65822785, 4.70886076,
         4.75949367, 4.81012658, 4.86075949, 4.91139241, 4.96202532,
         5.01265823, 5.06329114, 5.11392405, 5.16455696, 5.21518987,
         5.26582278, 5.3164557 , 5.36708861, 5.41772152, 5.46835443,
         5.51898734, 5.56962025, 5.62025316, 5.67088608, 5.72151899,
         5.7721519 , 5.82278481, 5.87341772, 5.92405063, 5.97468354,
         6.02531646, 6.07594937, 6.12658228, 6.17721519, 6.2278481 ,
         6.27848101, 6.32911392, 6.37974684, 6.43037975, 6.48101266,
         6.53164557, 6.58227848, 6.63291139, 6.6835443 , 6.73417722,
         6.78481013, 6.83544304, 6.88607595, 6.93670886, 6.98734177,
         7.03797468, 7.08860759, 7.13924051, 7.18987342, 7.24050633,
         7.29113924, 7.34177215, 7.39240506, 7.44303797, 7.49367089,
         7.5443038 , 7.59493671, 7.64556962, 7.69620253, 7.74683544,
         7.79746835, 7.84810127, 7.89873418, 7.94936709, 8.        ]])

In [140]:
a = np.empty((4,5,2))*0+1

In [141]:
print("-"*25)
print(a)
print("Dimensions:", a.ndim, sep='')
print("Size:", a.size, sep='')
print("Shape:", a.shape, sep='')
print("Data Type:", a.dtype, sep='')

-------------------------
[[[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]]
Dimensions:3
Size:40
Shape:(4, 5, 2)
Data Type:float64

In [142]:
np.ones((4,5,2))

array([[[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]]])

In [163]:
a = np.arange(9).reshape([3,3])

In [164]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [165]:
np.diag(a)   # converts the array into a diagonal array, where all the elements of a are along the diagonal

array([0, 4, 8])

In [166]:
np.diag(a, k=2)  # converts to diag array with a k delay

array([2])

In [167]:
np.diag(np.diag(a))

array([[0, 0, 0],
       [0, 4, 0],
       [0, 0, 8]])

### create a 2d array with the flattened input as diagonal

In [169]:
np.diagflat([[1,2],[3,4]])

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

### array with ones at and below th egiven diagonal and zeros elsewhere

In [175]:
np.tri(3,5, dtype=int)

array([[1, 0, 0, 0, 0],
       [1, 1, 0, 0, 0],
       [1, 1, 1, 0, 0]])

In [176]:
np.tri(3,5,2, dtype=int)

array([[1, 1, 1, 0, 0],
       [1, 1, 1, 1, 0],
       [1, 1, 1, 1, 1]])

### returns a lower triangle of an array

In [178]:
np.tril([[1,2,3],[4,5,6],[7,8,9]], 0)  # uses the array values to create a diagonal array 
                                       # where the lower triangle is alive and and the upper is zeroed out

array([[1, 0, 0],
       [4, 5, 0],
       [7, 8, 9]])

In [180]:
np.triu([[1,2,3],[4,5,6],[7,8,9]], 1)  # uses the array values to create a diagonal array 
                                       # where the uper triangle is alive and and the lower traingle is zeroed out

array([[0, 2, 3],
       [0, 0, 6],
       [0, 0, 0]])

# Random number generation

In [182]:
np.random.rand(2,3)    # creates a 2x3 matrix with numbers from 0 to 1, uniform distribution

array([[0.81641597, 0.89725249, 0.16012997],
       [0.43963484, 0.14120367, 0.82176826]])

In [183]:
np.random.randn(2,3)    # creates a 2x3 matrix with numbers from 0 to 1, samples from a standard normal distribution

array([[ 0.54655496, -0.59971458,  0.27679315],
       [ 0.97848649,  0.6059747 , -0.65084576]])

In [185]:
np.random.randint(2,10)    # creates a single integer sample from 2-10, (low,high,#samples)

3

In [186]:
np.random.randint(2,10,3)    # creates an array of three integer samples from 2-10, (low,high,#samples)

array([3, 7, 5])

In [187]:
np.random.randint(1,100,(4,4))  # creates an array 4x4 from integers from 1 to 100

array([[27, 76, 56, 75],
       [44, 36,  9, 67],
       [69, 33,  1, 45],
       [36, 94, 73, 13]])

In [188]:
M = np.random.randint(1,100,25).reshape(5,5)
M

array([[27, 32, 48, 10, 93],
       [93, 54, 99, 94, 89],
       [57, 39, 14, 30, 27],
       [90, 54, 69, 49, 27],
       [38,  6, 60, 79, 19]])

In [189]:
np.sort(M, axis=0) # sorting ascending in the column direction

array([[27,  6, 14, 10, 19],
       [38, 32, 48, 30, 27],
       [57, 39, 60, 49, 27],
       [90, 54, 69, 79, 89],
       [93, 54, 99, 94, 93]])

In [190]:
np.sort(M, axis=1) # sorting ascending in the rows direction

array([[10, 27, 32, 48, 93],
       [54, 89, 93, 94, 99],
       [14, 27, 30, 39, 57],
       [27, 49, 54, 69, 90],
       [ 6, 19, 38, 60, 79]])

In [191]:
M

array([[27, 32, 48, 10, 93],
       [93, 54, 99, 94, 89],
       [57, 39, 14, 30, 27],
       [90, 54, 69, 49, 27],
       [38,  6, 60, 79, 19]])

In [192]:
M.argmax(axis=1)   # returns indeces of the max values

array([4, 2, 0, 0, 3], dtype=int64)

In [193]:
M.argmax()  # returns index of the max value from the entire M matrix

7

In [195]:
mat=np.array(np.random.randint(10,100,15)).reshape(3,5)
mat

array([[47, 33, 14, 15, 45],
       [65, 27, 48, 78, 60],
       [46, 91, 87, 57, 98]])

In [199]:
mat[1:3,3:5]      # extracts ranges of rows and columns

array([[78, 60],
       [57, 98]])

In [201]:
mat[1:3,[3,4]]    # extracts ranges of rows and specified columns

array([[78, 60],
       [57, 98]])

In [202]:
mat[0:3,[1,3]]

array([[33, 15],
       [27, 78],
       [91, 57]])

In [206]:
mat[:,2:3]

array([[14],
       [48],
       [87]])

In [205]:
mat

array([[47, 33, 14, 15, 45],
       [65, 27, 48, 78, 60],
       [46, 91, 87, 57, 98]])

### Subsetting

In [208]:
mat=np.array(np.random.randint(10,100,15)).reshape(3,5)
mat

array([[91, 59, 50, 23, 60],
       [64, 32, 90, 24, 87],
       [11, 23, 75, 75, 10]])

In [209]:
mat>50

array([[ True,  True, False, False,  True],
       [ True, False,  True, False,  True],
       [False, False,  True,  True, False]])

In [210]:
mat[mat>50]

array([91, 59, 60, 64, 90, 87, 75, 75])

### Universal functions

In [211]:
mat1=np.array(np.random.randint(1,10,9)).reshape(3,3)
mat1

array([[7, 1, 9],
       [7, 9, 7],
       [6, 7, 4]])

In [212]:
mat2=np.array(np.random.randint(1,10,9)).reshape(3,3)
mat2

array([[8, 3, 8],
       [6, 9, 9],
       [9, 5, 2]])

In [213]:
mat1*mat2    # index based multiplication no a matrix multiplication which requires operator @

array([[56,  3, 72],
       [42, 81, 63],
       [54, 35,  8]])

In [214]:
mat1@mat2    # matrix multiplication

array([[143,  75,  83],
       [173, 137, 151],
       [126, 101, 119]])

### Broadcasting

In [217]:
start = np.zeros((4,4))
start

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [218]:
start + 100

array([[100., 100., 100., 100.],
       [100., 100., 100., 100.],
       [100., 100., 100., 100.],
       [100., 100., 100., 100.]])

In [220]:
add_rows = np.array([1,0,2,5])
add_rows

array([1, 0, 2, 5])

In [221]:
y = start + add_rows   # add to each row of start using broadcasting
y

array([[1., 0., 2., 5.],
       [1., 0., 2., 5.],
       [1., 0., 2., 5.],
       [1., 0., 2., 5.]])

In [222]:
add_cols = np.array([[0,1,2,3]])
add_cols

array([[0, 1, 2, 3]])

In [224]:
add_cols = add_cols.T
add_cols

array([[0],
       [1],
       [2],
       [3]])